@CHARSET "UTF-8";

.confirm:hover {
    cursor: pointer;
}

.edit-icon {
    max-width: 50px;
}

.btn {
    margin-bottom: 0 !important;
}

a.btn:hover {
    border: 1px solid #EFEFEF;
    background-color: #F8F8FF;
    box-shadow: 5px 5px 3px #EFEFEF;
}

a.btn.loaded {
    border: 1px solid #e6fff7;
    background-color: rgba(230, 255, 247, 0.5);
}

a.btn.loaded:hover {
    border: 1px solid #b3e5c9;
    background-color: #b3e5c9;
    box-shadow: 5px 5px 3px #EFEFEF;
}