<div class="content change-email">
	<h1 class="page-title">
        <a href="<?php echo $this->url('localization', array('lang' => $this->lang() )); ?>">Acex24</a>
    </h1>
	<h3 class="page-title">
		<?php echo sprintf($this->translate('Change Email for %s'), $this->zfcUserDisplayName()); ?>
	</h3>
<?php if ($status === true) : ?>
<div class="alert alert-success"><?php echo $this->translate('Email address changed successfully.'); ?></div>
<?php elseif ($status === false) : ?>
<div class="elements-group">
	<ul class="error-list">
		<li><?php echo $this->translate('Unable to update your email address. Please try again.'); ?></li>
	</ul>
</div>
<?php endif; ?>
<?php

$form = $this->changeEmailForm;

$form->prepare();
$form->setAttribute('action', $this->url('zfcuser/changeemail'));
$form->setAttribute('method', 'post');
$form->setAttribute('class', 'auth-form');
?>

<?php echo $this->form()->openTag($form); ?>
<div class="elements-group">
	<?php 
		$newIdentity = $form->get('newIdentity'); 
		$newIdentity->setAttribute('class', 'form-element');
		$newIdentity->setAttribute('placeholder', $this->translate('Enter new Email'));
		$newIdentity->setLabel('');
		echo $this->formRow($newIdentity);
	?>
	<?php 
		$newIdentityVerify = $form->get('newIdentityVerify'); 
		$newIdentityVerify->setAttribute('class', 'form-element');
		$newIdentityVerify->setAttribute('placeholder', $this->translate('Confirm new Email'));
		$newIdentityVerify->setLabel('');
		echo $this->formRow($newIdentityVerify);
	?>
	<?php 
		$credential = $form->get('credential'); 
		$credential->setAttribute('class', 'form-element');
		$credential->setAttribute('placeholder', $this->translate('Enter your password'));
		$credential->setLabel('');
		echo $this->formRow($credential);
	?>
</div>
<div class="elements-group">
	<?php $submit = $form->get('submit');
		$submit->setAttribute('class', 'submit-btn');
		echo $this->formRow($submit);
	?>
</div>
<?php echo $this->form()->closeTag(); ?>
<?php //echo $this->partial('_form.phtml', ['form' => $form]); ?>

</div>