<div class="content change-password">
	<h1 class="page-title">
        <a href="<?php echo $this->url('localization', array('lang' => $this->lang() )); ?>">Acex24</a>
    </h1>
	<h3 class="page-title">
		<?php echo sprintf($this->translate('Change Password for %s'), $this->zfcUserDisplayName()); ?>
	</h3>
	<?php if ($status === true) : ?>
		<div class="alert alert-success"><?php echo $this->translate('Password changed successfully.');?></div>
	<?php elseif ($status === false) : ?>
		<div class="alert alert-error"><?php echo $this->translate('Unable to update your password. Please try again.'); ?></div>
	<?php endif; ?>
	<?php
	
	$form = $this->changePasswordForm;
	
	$form->prepare();
 	$form->setAttribute('action', $this->url('zfcuser/changepassword'));
	$form->setAttribute('method', 'post');
	$form->setAttribute('class', 'auth-form');
	$form->setAttribute('autocomplete', 'off');

	echo $this->form()->openTag($form); ?>

	<div class="elements-group">
		<?php $emailElement = $form->get('identity');
		$emailElement->setValue($this->zfcUserIdentity()->getEmail());
		echo $this->formRow($emailElement);

		$passwordElement = $form->get('credential');
		$passwordElement->setAttribute('class', 'form-element');
		$passwordElement->setAttribute('placeholder', $this->translate('Enter current password'));
		$passwordElement->setLabel('');
		echo $this->formRow($passwordElement);

		$newCredential = $form->get('newCredential');
		$newCredential->setAttribute('class', 'form-element');
		$newCredential->setAttribute('placeholder', $this->translate('Enter new password'));
		$newCredential->setLabel('');
		echo $this->formRow($newCredential);

		$newCredentialVerify = $form->get('newCredentialVerify');
		$newCredentialVerify->setAttribute('class', 'form-element');
		$newCredentialVerify->setAttribute('placeholder', $this->translate('Re-enter new password'));
		$newCredentialVerify->setLabel('');
		echo $this->formRow($newCredentialVerify); ?>
	</div>
	<?php
	$submit = $form->get('submit');
	$submit->setAttribute('class', 'submit-btn');
	echo $this->formRow($submit);
	?>
	<?php echo $this->form()->closeTag(); ?>
	<?php //echo $this->partial('_form.phtml', ['form' => $form]); ?>
</div>
