<?php $flashMessenger = $this->flashMessenger(); ?>
<?php
$partner = false;
if (in_array('login-partner', explode('/', $this->routeName()))) {
    $partner = true;
}
?>
<div class="content">
    <h1 class="page-title">
        <a href="<?php echo $this->url('localization', ['lang' => $this->lang()]); ?>">Home</a>
    </h1>
    <div class="main-content">
        
        <?php if ($flashMessenger->hasCurrentSuccessMessages()) : ?>
            <div class="success-wrap">
                <a href="<?php echo $this->url('localization/sign-in', ['lang' => $this->lang()]) ?>"
                   class="link"><?php echo $this->translate('Back to login.'); ?></a>
                <p>
                    <?php echo $this->translate(
                        'The user has been created successfully An email has been sent to'
                    ); ?>
                </p>
                <?php echo $flashMessenger->render('success'); ?>
                <p>
                    <?php echo $this->translate(
                        'It contains an activation link you must click to activate your account'
                    ); ?>
                </p>
            </div>
        
        <?php else : ?>
            <div class="fb-enter">
                <h3 class="enter-title"><span class="text"><?php echo $this->translate('Enter'); ?></span></h3>
                <?php
                $form = $this->loginForm;
                $form->prepare();
                $form->setAttribute('action', $this->url('zfcuser/login', ['lang' => $this->lang()]));
                $form->setAttribute('method', 'post');
                $form->setAttribute('autocomplete', 'off');
                $form->setAttribute('class', 'auth-form');
                echo $this->form()->openTag($form);
                ?>

                <?php if (!$partner) : ?>
                    <?php foreach ($this->providers() as $provider){ ?>
                        <a class="btn btn-info btn-xs" href="<?= $this->url("scn-social-auth-user/login/provider", [
                                'lang' => $this->lang(),
                                'provider' => $provider,
                        ]); ?>" class="fb-link-wrap">
                            <span class="text"><?php echo $this->translate('Login with '.$provider); ?></span>
                        </a>
                    <?php }?>
                    <h3 class="enter-title">
                        <span class="text"><?php echo $this->translate('Login with Email'); ?></span>
                    </h3>
                <?php endif; ?>
                <div class="elements-group">
                    <?php
                    $identity = $form->get('identity')->setAttribute('class', 'form-element');
                    $identity->setAttribute('placeholder', $this->translate('Email'));
                    $identity->setLabel('');
                    echo $this->formRow($identity);
                    
                    $credential = $form->get('credential')->setAttribute('class', 'form-element');
                    $credential->setAttribute('placeholder', $this->translate('Password'));
                    
                    $credential->setLabel('');
                    echo $this->formrow($credential);
                    
                    // 				echo $this->forminput($credential);
                    // 				echo $this->formelementerrors($credential);
                    ?>
                </div>
                <div class="elements-group">
                    <input type="hidden" name="remember_me" value="0">
                    <?php
                    $remember = $form->get('remember_me')->setAttribute('class', 'element-hidden');
                    $remember->setAttribute('id', 'hiddenInput');
                    $remember->setAttribute('value', '1');
                    echo $this->formInput($remember);
                    
                    ?>
                    <label class="elements-label" for="hiddenInput">
                        <?php echo $this->translate('Remember me'); ?>
                    </label>
                    <span class="separator">•</span>


                    <a class="forgot-password-link" href=<?php echo $this->url('zfcuser/forgotpassword', [
                        'lang' => $this->lang()
                    ]); ?>><?php echo $this->translate('Forgot password') ?></a>
                </div>
                <div class="elements-group submit-group">
                    <?php
                    $submit = $form->get('submit');
                    $submit->setAttribute('class', 'submit-btn');
                    echo $this->formRow($submit);
                    ?>
                </div>
            </div>
            <div class="registration">
                <?php echo $this->form()->closeTag(); ?>
                <?php if ($this->enableRegistration) : ?>
                <?php echo $this->translate('Not registered?'); ?>
                <?php if ($partner) : ?>
                <a href="<?= $this->url('localization/become-partner', [
                        'lang' => $this->lang()
                ]) . ($this->redirect ? '?redirect=' . $this->escapeUrl($this->redirect) : '') ?>">
                    <?php else : ?>
                    <a href="<?php echo $this->url('zfcuser/register', [
                            'lang' => $this->lang()
                        ]) . ($this->redirect ? '?redirect=' . $this->escapeUrl($this->redirect) : '') ?>">
                        <?php endif; ?>
                        <?= $this->translate('Register'); ?>
                    </a>
                    <?php endif; ?>
            </div>
        <?php endif; ?>
    </div><!-- .main-content -->
</div>
