<h2><?php echo $this->translate('Set your account password'); ?></h2>
<br/>
<?php
echo $this->translate('An account was created with this email address. Please click on the following link to set your account password.');
?>
<br/>
<?php $link = $this->serverUrl() . $this->url('zfcuser/set_password', array('userId' => $user->getId(), 'token' => $registrationRecord->getToken())); ?>
<a href="<?php echo $link ?>">
    <?php echo $link; ?>
</a>
<br/>
<br/>