<h2><?php echo $this->translate('Email Address Verification'); ?></h2>
<br/>
<?php echo $this->translate('Please click on the following link to verify your email address'); ?>
<br/>
<?php $link = $this->serverUrl() . $this->url('zfcuser/verify_email', array(
        'lang' => $this->lang(),
        'userId'    => $user->getId(),
        'lang'      => $this->lang(),
        'token'     => $registrationRecord->getToken())); ?>
<a href="<?php echo $link ?>">
    <?php echo $link; ?>
</a>
