<?php 
$form = $this->form;
$form->setAttribute('autocomplete', 'off');
$this->form->prepare();    
echo $this->form()->openTag($this->form);
$this->form->get('submit')->setValue($this->translate('Submit'));
?>
<div class="content recovery">
    <div class="auth-form">
    <?php $flashMessenger =  $this->flashMessenger();?>
    <?php if( $flashMessenger->hasMessages()) :?>
    
    <?php 
    $flashMessenger->setMessageOpenFormat('<div%s>
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
         &times;
     </button>
     <ul><li>')
     ->setMessageSeparatorString('</li><li>')
     ->setMessageCloseString('</li></ul></div>');
     
    echo $flashMessenger->render('error',   array('alert', 'alert-dismissible', 'alert-danger'));
    echo $flashMessenger->render('info',    array('alert', 'alert-dismissible', 'alert-info'));
    echo $flashMessenger->render('default', array('alert', 'alert-dismissible', 'alert-warning'));
    echo $flashMessenger->render('success', array('alert', 'alert-dismissible', 'alert-success'));
    ?>
    <?php 
    //echo ',clearMessages: '; var_dump( $flashMessenger->clearMessages()); 
    //$flashMessenger->clearMessages();
    ?>
    <?php endif;?>

        <h1 class="page-title">
            <?php echo $this->translate('Re-send email verification'); ?>
        </h1>
        <div class="elements-group">
            <?php 
                $email = $this->form->get('email'); 
                $email->setAttribute('placeholder', $this->translate('Email'));
                $email->setLabel('');
                $email->setAttribute('class', 'form-element');
            ?>
            <?php echo $this->formRow($email);?>
        </div>  
        <div class="submit-wrap">
            <?php 
                $submit = $this->form->get('submit'); 
                $submit->setAttribute('class', 'submit-btn');
                $submit->setValue($this->translate('Submit'));
            ?>
            <?php echo $this->formsubmit($submit); ?>
        </div>
   </div>    
    <?= $this->form()->closeTag(); ?>
    <a href="<?= $this->url('zfcuser/login', array('lang' => $this->lang())); ?>" value="<?= $this->translate('Go to login'); ?>"><?= $this->translate('Go to login'); ?></a>
    </div>    
    
