@CHARSET "UTF-8";
.tables-services-holder {
	width: 100%;
	display:flex;
	flex-wrap:wrap;
}

.tables-services-holder table {
	display: block;
	width: 100%;
	margin:0 2.5%;
	float:left;
	margin-bottom: 35px;
}

.tables-services-holder table:last-child {
	margin-bottom: 0;
}

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-radius: 10px;
	border-spacing: 0;
	text-align: justify;
}

th {
	background: #62BBB5;
	color: white;
	text-shadow: 0 1px 1px #2D2020;
	padding: 10px 20px;
}

th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
}

th:first-child, td:first-child {
	text-align: left;
}

th:first-child {
	border-top-left-radius: 10px;
}

th:last-child {
	border-top-right-radius: 10px;
	border-right: none;
}

td {
	padding: 10px 20px;
	background: #E7E7E7;
	
}

tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}

tr td:last-child {
	border-right: none;
}
/*ul{*/
	/*padding-left: 15px;*/
/*}*/