/* myReset:Start*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
button,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    color: #000;
    height: 100%;
    line-height: 1;
    font: normal 100% Cambria, Georgia, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0 0 20px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

a,
a:hover,
a:focus {
    outline: none;
    color: #000;
}

.decoration-none,
.decoration-none a {
    text-decoration: none;
}

ul,
p {
    padding: 0;
    margin-bottom: 20px;
}

img {
    border-style: none;
    outline: none;
    max-width: 100%;
}

input,
textarea,
button,
.slick-slide {
    outline: none;
}

strong {
    font-weight: bold;
}

label {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after,
.myContainer:after {
    display: block;
    content: '';
    clear: both;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.text-center {
    text-align: center;
}

.list-style-none,
.list-style-none ul {
    list-style: none;
}


/* END:myReset */


/*AUTH-PAGE*/

body.auth-page {
    background-color: #09091a;
    color: #c0c0c8;
}

.auth-page .content {
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 24px;
    max-width: 440px;
}

.auth-page .content .page-title {
    display: block;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 18px;
    color: white;
}

.auth-page .content .page-title > a {
    text-decoration: none;
    color: #fff;
}

.auth-page .content .enter-title {
    display: table;
    white-space: nowrap;
    text-align: center;
    margin: 24px 0;
}

.auth-page .content .enter-title:before,
.auth-page .content .enter-title:after {
    border-top: 1px solid #3a3a48;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.8em;
    width: 50%;
}

.auth-page .content .enter-title .text {
    position: relative;
    font-size: 14px;
    padding: 0 20px;
}

.auth-page .content .fb-link-wrap {
    display: block;
    border: none;
    text-align: center;
    background-color: #3b5998;
    height: 57px;
    padding-top: 22px;
    font-size: 14px;
    border-radius: 3px;
    background-size: 100% 100%;
    background-image: url(/img/uber/auth-fb.png);
    background-position: 25px 0px;
    background-size: 38px 57px;
    background-repeat: no-repeat;
}

.auth-page .content .fb-link-wrap:hover {
    text-decoration: none;
}

.auth-page .content .fb-link-wrap .text {
    text-transform: uppercase;
    color: #fff;
}

.auth-page .auth-form .elements-group {
    margin-bottom: 24px;
}

.auth-page .elements-group .error-list {
    margin-top: 20px;
    list-style: none;
    color: #D85252;
}

.auth-page .elements-group .error-list > li{
    margin-bottom: 12px;
}

.auth-page .auth-form .form-element {
    width: 100%;
    padding: 15.5px 12px;
    font-size: 14px;
    background: white;
    border: 1px solid #cdcdd3;
    outline: none;
    line-height: 1.25;
    color: #3a3a48;
}

.auth-page .auth-form .form-element.input-error {
    border: 1px solid #D85252;
}

.auth-page .auth-form .form-element:focus {
    box-shadow: 0 0 5px 0 #71d8ea;
    border-color: #1fbad6;
}

.auth-page .auth-form .form-element:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.auth-page .auth-form .form-element:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.auth-page .auth-form .elements-group .elements-label {
    position: relative;
    display: inline-block;
    padding-left: 32px;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.auth-page .auth-form .elements-group .element-hidden {
    display: none;
}

.auth-page .auth-form .elements-group .elements-label:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #cdcdd3;
    content: "";
}

.auth-page .auth-form .elements-group .elements-label:after {
    width: 11px;
    height: 7px;
    border-bottom: 3px solid #1fbad6;
    border-left: 3px solid #1fbad6;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0;
    content: "";
}

.auth-page .auth-form .elements-group .element-hidden:checked + .elements-label:after {
    opacity: 1;
}

.auth-page .auth-form .separator {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}

.auth-page a {
    text-decoration: none;
    color: #1fbad6;
}

.auth-page .auth-form .elements-group .forgot-password-link {
    display: inline-block;
    vertical-align: middle;
}

.auth-page .auth-form .submit-btn {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    border: none;
    margin: 0;
    cursor: pointer;
    overflow: visible;
    padding: 16px 23px;
    margin-bottom: 15px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #1fbad6;
    border: 1px solid #1fbad6;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.auth-page .auth-form .submit-btn:hover {
    background-color: #4cc8de;
    border-color: #4cc8de;
}

.auth-page .auth-form .submit-group {
    padding-bottom: 24px;
    border-bottom: 1px solid #3a3a48;
}

.auth-page .registration {
    text-align: center;
}

.auth-page .registration .registration-link {
    padding-left: 5px;
}

/*auth-change-password*/
.auth-page .change-password .page-title{
    margin-bottom: 35px;
}
/*END:auth-change-password*/

.auth-page .success-wrap{
    padding: 20px;
    background-color: rgba(181, 181, 181, 0.32);
    border-radius: 5px;
}

.auth-page .success-wrap .link{
    display: block;
    margin-bottom: 15px;
}

.auth-page .success{
    list-style: none;
    color: #fefefe;
}

/*AUTH-PAGE*/

/*START: SIGN-IN */

.sign-in-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-basis-sign-in h1 {
    margin-bottom: 52px;
    margin-top: 80px;
}

.sigh-in-block__element {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: inherit;
    padding-right: 100px;
}

.sigh-in-block__element > .btn.btn-lg {
  width: 100%;
}

.sigh-in-block__element > p {
  line-height: 1.5;
}

.sigh-in-block__element h2:before {
    position: absolute;
    content: '';
    top: 0;
    width: 40px;
    height: 2px;
    background-color: rgba(116, 116, 116, 0.36);
}

.sigh-in-block__element h2 {
    padding-top: 20px;
}

.sigh-in-block__element p {
    flex: 1;
}

.btn-lg .arrow-animation {
    right: 90px;
    position: absolute;
    transition: right .2s ease;
}

.btn-lg:hover .arrow-animation {
    right: 70px;
}

.main-basis-bg {
    background: url(http://ichas.ie/wp-content/uploads/2015/11/business-people23.jpg);
    min-height: 700px;
    width: 100% !important;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: cover;
    position: relative;
}

.main-basis-registration {
    position: absolute;
    top: 70%;
    right: 5%;
    transform: translate(-50%, -50%);
    background: #62bbb5;
    width: 200px !important;
    height: 200px !important;
    cursor: pointer;
    transition: all .2s ease;
}

.main-basis-registration:hover {
    background: #47938e;
}

.main-basis-registration span {
    font: 18px "Helvetica Neue", sans-serif;
    color: #fff;
    display: block;
    margin-bottom: 30px;
}

.main-basis-registration a {
    font: 17px "Helvetica Neue", sans-serif;
    color: #fff;
    padding: 20px 30px;
    display: block;
    position: relative;
}

.main-basis-registration a:hover {
    color: #fff;
}
.main-basis-registration a i {
    position: absolute;
    top: 33%;
    margin-left: 5px;
    transition: margin 0.2s ease;
}

/*.main-basis-registration a:hover i {
    right: 25px;
}*/

.main-basis-registration:hover i {
  margin-left: 25px;
}
