<h1>Keys</h1>
<?php
foreach ($providers as $provider) {
echo '<p>'. $provider . ' ';
    echo '<span>' . $this->socialSignInButton($provider, $this->redirect) . '</span>'.'</p>';
}

//foreach ($this->options->getEnabledProviders() as $provider) {
//    echo '<dd>' . $this->socialSignInButton($provider, $this->redirect) . '</dd>';
//}

?>
