@CHARSET 'UTF-8';

body.auth-page {
    background-color: #fff;
}

body, html {
    height: 100%;
}

.btn{
    /*margin-bottom: 15px !important;*/
}

.user-profile-image {
    display: block;
    max-width: 100%;
    max-height: 200px;
}

.user-profile-image-small {
    width: 45px;
    height: 45px;
}

.no-marker-list {
    padding-left: 0px;
    list-style-type: none;
}

.deleted-user {
    color: #fff;
    background-color: #e9967a !important;
}

.deleted-user td a {
    color: #fff;
}

.company {
    background-color: #e6e6fa;
}

.company td.owner ul li:first-child {
    font-weight: bold;
}

.notification-flash-list {
    padding-left: 0;
}

.notification-flash-list li {
    margin-bottom: 7px;
    list-style: none;
}

.notification-flash-list li:last-child {
    margin-bottom: 0;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.thead-default {
    background-color: #e6e6fa;
}

table.table th a {
    text-decoration: none;
    color: #000;
}

/*table.offers .offer-row{*/
/*display: table-row;*/
/*}*/
table.offers {
    padding: 0;
}
table.offers td {
    width: 100px;
    text-align: center;
    /*display:table-cell;*/
}

.spoiler_block,
.spoiler_block div {
    display: none;
    overflow: hidden;
}
.spoiler_block td {
    padding: 0px auto !important;
}
.log-detail {
    background-color: #f5fffa;
}
.log-detail-header {
    background-color: #f0ffff;
}


/*authorized-header*/

.header-users {
    display: block;
    padding: 25px 0;
}

.authorized-header {
    display: table-header-group;
}

.authorized-header__leftblock {
    float: left;
}

.authorized-header__block {
    display: inline-block;
    vertical-align: middle;
}

.authorized-header__logowrap {
    margin-right: 16px;
}

.authorized-header__default-icon {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin: 11px 15px 14px 0;
    vertical-align: middle;
}
.authorized-header__right .authorized-header__user-imgblock img {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.authorized-header__user-hidden-area-inner ul li .authorized-header__action-itemicon {
    border-radius: 0;
}

.authorized-header__logo {
    width: 100%;
    font-family: 'Helvetica';
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #62bbb5;
}

.authorized-header__logo:hover,
.authorized-header__logo:focus {
    text-decoration: none;
    color: #62bbb5;
}

.authorized-header__status-text {
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
    color: #62bbb5;
    border: 2px solid #62bbb5;
}

.authorized-header__logo:hover {
    text-decoration: none;
    color: #62bbb5;
}

.authorized-header__right {
    position: relative;
    float: right;
}

.authorized-header__right:after {
    display: block;
    clear: both;
    content: '';
}

.authorized-header__user-actions {
    margin-right: 15px;
}

.authorized-header__action-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.authorized-header__action-hidden-area {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    width: 290px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background-color: #f1fbfa;
}

.authorized-header__action-hidden-area:before {
    position: absolute;
    top: -8px;
    right: 26px;
    z-index: -1;
    width: 14px;
    height: 14px;
    content: '';
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background-color: #f1fbfa;
}

.authorized-header__action-hidden-area.active {
    z-index: 101;
    display: block;
}

.authorized-header__user-hidden-area-inner {
    margin-top: 0px;
    padding: 0;
}

.authorized-header__action-hidden-list {
    margin-bottom: 0;
    padding: 10px 0;
    padding-left: 0;
    list-style: none;
}

.authorized-header__action-hidden-list li a {
    display: block;
    padding: 7px 13px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-decoration: none;
    color: #bdbdbd;
}

.authorized-header__action-hidden-list li a:hover {
    background-color: #fff;
}

.authorized-header__action-itemicon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    vertical-align: middle;
}

.authorized-header__action-itemtext {
    display: inline-block;
    width: 90%;
    vertical-align: middle;
}
/*END:authorized-header*/


/*authorized-main*/

.authorized-main {
    margin-top: 50px;
    display: table-row;
    height: 1px;
}

.authorized-main .alert {
    margin-top: 20px;
}

/*END:authorized-main*/

.user-upload-company-logofile {
    cursor: pointer;
}

.upload-file {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid black;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
         background-size: 100% 100%;
}

.upload-file input {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    outline: none;
}

.upload-file .error-list {
    margin-bottom: 25px;
}

.companyLogo {
    display: block;
    width: 200px;
    max-width: 100%;
    height: 200px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.userToCompany-imgblock .companyLogo {
    margin: 0 auto 45px;
}

/*userToCompany*/
.userToCompany-title {
    margin-bottom: 55px;
}

.userToCompany .backToProfile {
    margin-bottom: 45px;
}
/*END:userToCompany*/

/*invite-form*/
.invite-form-blocktitle {
    margin-bottom: 35px;
}
/*END:invite-form*/

.admin-company-extend-confirm .btn {
    /*width: 20%;*/
}

.table {
    margin-bottom: 70px;
}

.table>tbody>tr>td {
    vertical-align: middle;
}
/* START: create role */

.pull {
   display: block;
   text-align: center;
}

.authorized-main h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #62bbb5;
}


.pull .form-group label input {
    width: 320px;
}

.pull .form-group label span {
    display: block;
    margin: 10px 0;
    color: #62bbb5;
    font-size: 20px;
    padding: 20px 0;
}

.pull-heading label {
    margin: 0px;
    font-size: 25px;
    color: #62bbb5;
    display: block;
}

.pull-heading {
    margin: 0;
    padding: 30px 0;
    display: block;
    text-align: center;
}

.permission-block .checkbox label input {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #ADADAD;
    margin-bottom: 10px;
    -webkit-box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
       -moz-box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
            box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
    padding: 10px 8px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.checkbox label,
.radio label {
    margin-bottom: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            margin-left: 15px;
}

.checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.button-block {
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.button-block button {
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    border: none;
    cursor: pointer;
    overflow: visible;
    padding: 10px 130px;
    font-size: 15px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color: #62BBB5;
    border: 1px solid #62BBB5;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-image: none !important;
    margin-top: 50px;
}

.button-block button:hover {
    background-color: #fbe5d6;
    border-color: #fbe5d6;
    color: #000;
}

.button-block button:focus {
    outline: none !important;
}

/*.btn-success:active:focus {*/
    /*background-color: #fbe5d6;*/
    /*border-color: #fbe5d6;*/
    /*color: #000;*/
    /*outline: none !important;*/
/*}*/

/* END: create role */

/* START: add email */

.add-email-block {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 20px 0;
}

.label-class span {
    font-size: 18px;
    margin: 0 20px;
    color: #62bbb5;
    display: inline-block;
    vertical-align: middle;
}

.checkbox-add-email {
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.checkbox-add-email label input {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #ADADAD;
    margin-bottom: 10px;
    -webkit-box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
       -moz-box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
            box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
    padding: 10px 8px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.checkbox-add-email .form-check-input {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}

.checkbox-add-email label {
    padding: 0 10px;
    margin: 10px 0;
    text-align: center;
}
/* END: add email */

/* START: use role */

.pop-up-role {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.pop-up-role_element {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 170px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
}

.btn-madal {
    font-family: "Helvetica Neue";
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    border: none;
    cursor: pointer;
    overflow: visible;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-image: none !important;
    text-shadow: none;
}

/*.btn-success, .btn-info {*/
    /*background-color: #62BBB5;*/
    /*background-image: none;*/
    /*border: none;*/
/*}*/

/*.btn-success:hover, .btn-info:hover {*/
    /*background-color: #fbe5d6;*/
    /*border-color: #fbe5d6;*/
    /*color: #000;*/
/*}*/

.btn-default {
    background-color: #62BBB5;
}

.btn-madal:hover {
    background-color: #fbe5d6;
    border-color: #fbe5d6;
    color: #000;
    outline: none;
}

.btn-default:active:hover {
    background-color: #fbe5d6;
    border-color: #fbe5d6;
    color: #000;
    outline: none;
}

.modal-header h4 {
    color: #62bbb5;
    text-align: center;
}

/* END: use role */

/*menu premium style*/
.menu-premium {
    padding: 25px 0;
}

.menu-premium ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.menu-premium .menu-premium-list {
    list-style: none;
    width: 330px;
}

.menu-premium .menu-premium-list a {
    list-style: none;
    width: 100%;
}

.menu-premium .menu-premium-list .btn-default {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: none;
    margin: 0;
    overflow: visible;
    padding: 5px 20px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: #fbe5d6;
    border-color: #fbe5d6;
    color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-image: none !important;
}

.menu-premium .menu-premium-list .btn-success {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: none;
    margin: 0;
    overflow: visible;
    padding: 5px 20px;
    margin-bottom: 5px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-image: none !important;

    color: #fff;

    background-color: #62BBB5;
    border: 1px solid #62BBB5;
}

/*menu premium style*/


/*Footer*/
.table-wrapper {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 100%;
}

.footer-partner {
    background: #F8F8F9;
    border-top: 1px solid #E5E5E4;
    display: table-footer-group;
    height: 1px;
}

.footer-partner-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 40px;
}

.footer-partner-info__content a {
    color: #747474;
}
/*Footer end*/

/*RESPONSIVE*/
@media screen and (max-width: 700px) {
    .authorized-header__leftblock,
    .authorized-header__right {
        float: none;
        text-align: center;
    }
    .authorized-header__right {
        width: 85%;
        margin: 0 auto;
    }
    .authorized-header__leftblock {
        margin-bottom: 35px;
    }
    .authorized-header__action-hidden-area {
        width: auto;
    }
    .authorized-header__action-hidden-list > li {
        margin-bottom: 25px;
    }
    .authorized-header__action-itemicon {
        margin-right: 0;
        margin-bottom: 8px;
    }
    .user-profile-image {
        margin: 0 auto 25px;
    }
}
/*END:RESPONSIVE*/
