.wrapper-partner {
	display: table;
	height: 100%;
	width: 100%;
	table-layout: fixed;
}

.banner-partner {
    display: table-row;
    height: 100%;
}

.banner-partner__bg {
	background: url(../assets/images/partnership.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 650px;
	position: relative;
	padding: 40px;
}

.main-basis-partner h1 {
	font-size: 48px;
	line-height: 50px;
	margin-bottom: 32px;
	font-weight: 600;
	text-shadow: 1px 1px 7px #000;
	color: #fff;
}

.main-basis-partner h1 strong {
	font-weight: 100;
}

.main-basis-partner p {
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	text-shadow: 1px 1px 7px #000;
}

.form-holder-partner p {
	color:inherit;
	text-shadow: none;
}

.header-inner-partner {
	background: #fff;
    padding: 10px;
}

.main-basis-left {
	max-width: 350px;
	position: absolute;
	top: 40px;
	right: 200px;
	background: #F1F1F1;
	padding: 35px;
	border: 1px solid rgba(200,200,200,0.4);
}

.main-basis-right {
	display: inline-block;
	width: 41%;
}

.main-basis-partner {
	margin: 0;
}

.btn-account {
	width: 100%;
	padding: 12px;
	font-size: 14px;
    line-height: 18px;
}

.form-holder h3 {
	margin: 12px 0;
	font-size: 16px;
    line-height: 1.25;
    color: #000;
}

.form-holder-partner {
	margin: 0 !important;
} 

.form-holder-partner p {
	font: 15px RobotoRegular sans-serif;
	text-align: justify;
}

.form-holder-partner p a {
	color: #62BBB5;
}

.header-holder-partner {
	margin-bottom: 32px;
}

.footer-partner {
	background: #F8F8F9;
	display: block;
	border-top: 1px solid #E5E5E4;
	display: table-footer-group;
    height: 1px;
}

.footer-partner-info {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 40px;
}

.footer-partner-info__content a {
	color: #747474;
}


