/*Page 403 start */

.page-not-found {
    width: 100%;
    display: block;
    text-align: center;
    padding: 70px 0;
}

.page-not-found h4 {
    color: #62bbb5;
    font: 170px "Cantarell-Regular", sans-serif;
}

.page-not-found h4 strong {
    font: 100px "Cantarell-Regular", sans-serif;
}

.page-not-found__text {
    font: 20px "RobotoRegular", sans-serif;
    color: #484c55;
    padding: 20px 0;
}

.page-not-found__text span {
    text-transform: uppercase;
    display: inline-block;
    margin: 15px 0;
}

.page-not-found__text p {
    font-size: 16px;
    line-height: 2em;
}

.page-not-found__link {
    padding: 20px 0;
    display: inline-block;
    font-size: 0;
    width: 100%;
}

.page-not-found__link a {
    font: 15px "Helvetica Neue", sans-serif;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    overflow: visible;
    padding: 10px 18px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #62BBB5;
    border: 1px solid #62BBB5;
    color: #fff;
    transition: all 0.3s ease-in-out;
    margin: 0 10px;
}

.page-not-found__link a:hover {
    text-decoration: none;
    background-color: #fbe5d6;
    border-color: #fbe5d6;
    color: #000;
}

.page-not-found__link a:focus {
    text-decoration: none;
    outline: none;
}

/*Page 403 end */
