h3, span, label, a {
  font-family: Helvetica, sans-serif;
}

a {
  color: #62bbb5;
}

/*-------------------------Start of sidebar-------------------------*/

.exchange-sidebar-filter {
  margin-right: 20px;
  background-color: rgba(181, 181, 181, 0.32);
  border-radius: 5px;
  padding: 10px;
}

.exchange-sidebar-filter h3 {
  font-size: 18px;
  color: #62bbb5;
}

.exchange-sidebar-filter span.show-more {
  color: #62bbb5;
  text-decoration: none;
}

.exchange-sidebar-filter span.show-more:hover {
  text-decoration: underline;
}

.exchange-sidebar-filter > .categories > .categories-select > .categories-item > label,
.exchange-sidebar-filter > .categories > label {
  position: relative;
}

.exchange-sidebar-filter > .categories > .categories-select > .categories-item {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
}

.exchange-sidebar-filter > .categories > .categories-select > .categories-item > span {
  font-size: 13px;
  line-height: 1.5;
}

label:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ADADAD;
}

input[type=checkbox]:checked + label:before {
  content: "✔";
  color: #62bbb5;
  font-size: 14px;
  text-align: center;
  line-height: 10px;
}

.exchange-sidebar-filter > .categories > .categories-select > .categories-item > label > span,
.exchange-sidebar-filter > .categories label {
  font-size: 14px;
  padding-left: 25px;
}

.exchange-sidebar-filter .categories-select input[type=checkbox],
.exchange-sidebar-filter .categories input[type=checkbox] {
  display: none;
}

.exchange-sidebar-filter > .select-locality > div {
  margin-bottom: 20px;
}

.exchange-sidebar-filter > .select-locality > div > label {
  font-size: 13px;
}

.exchange-sidebar-filter > .select-locality > div > input {
  height: 30px;
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ADADAD;
  box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
  box-sizing: border-box;
  padding: 0 10px;
}

/*-------------------------End of sidebar-------------------------*/

/*-------------------------Start of content-------------------------*/

.exchange-results ul li {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.exchange-results ul li:hover,
.exchange-results ul li.active {
  color: #62bbb5;
}

.exchange-results ul li.active {
  border-bottom: 2px solid #62bbb5;
  padding-bottom: 5px;
}

.exchange-results ul {
  margin-bottom: 10px;
}

.exchange-results .select-block {
  padding: 15px;
  max-width: 834px;
}

.exchange-results .select-block-items {
  display: flex;
  justify-content: flex-end;
}

.exchange-results .ui-selectmenu-button {
  min-width: 220px;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
  margin-right: 10px;
}

.exchange-results .ui-selectmenu-button span.ui-selectmenu-text {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  padding: 0.4em 0.5em 0.4em 0.5em;
  font-weight: 400;
  color: #727272;
}

.exchange-results .main-table thead tr {
  height: 30px;
}

.exchange-results .main-table thead tr th {
  vertical-align: middle;
}

.exchange-results .main-table thead tr th span {
  padding: 0 10px;
  font-size: 13px;
  text-transform: lowercase;
  letter-spacing: 0.2px;
  color: #727272;
}

.main-table__header i {
  background: url(../../img/jquery-ui/ui-icons_222222_256x240.png);
  opacity: 0.5;
  background-position: -133px -21px;
}

main-table__header th:hover {
  cursor: pointer;
}

.main-table__title {
  border: none;
}

table.main-table tbody {
  box-shadow: inset 0 0 1px #aaaaaa;
}

.image-heading {
  float: left;
  padding-right: 10px;
}

.td-height {
  padding-top: 15%;
}

/*-------------------------End of content-------------------------*/

/*-------------------------Responsive -------------------------*/

@media screen and (max-width: 976px) {

  div.exchange-sidebar-filter {
    flex: 1 1 100%;
    margin-right: 0;
  }

  .exchange-results {
    margin-top: 20px;
    flex: 1 1 100%;
  }

  .exchange-results .select-block {
    max-width: 100%;
  }
}

@media screen and (max-width: 760px) {
  div.exchange-sidebar-filter {
    margin-top: 60px;
  }

  div.exchange-results.flex-basis-exchange > div > div:nth-child(3) {
    width: 100%;
    overflow-x: scroll;
  }

  div.exchange-results.flex-basis-exchange > div > div:nth-child(3) > .main-table {
    width: 200%;
  }

  .exchange-results ul {
    margin: 20px 0;
  }
}

@media screen and (max-width: 570px) {
  .exchange-results ul li {
    margin-bottom: 10px;
  }
}

/*------------------------- Responsive -------------------------*/
