.hazardous-materials-wrapper {
    display: none;
    margin-bottom: 105px;
}

.hazardous-materials-widget {
    display: block;
    /* max-width: 800px; */
    margin: 0 auto;
    text-align: center;
}

.hazardous-sign {
    display: inline-block;
}
.hazardous-sign img:hover {
    cursor: pointer;

    -webkit-filter: drop-shadow(5px 5px 5px #808080);
    filter: drop-shadow(5px 5px 5px #808080);
}
.hidden {
    display: none;
}
.hazmatDef {
    position: relative;
    max-width: 500px;
    /*font-size: 14px;*/
    line-height: 20px;
    margin: auto;
    color: #ccc;
}

.hazmatDef .mfp-close{
    color: #fff;
}

.hazardous-btn-block {
    margin-bottom: 35px;
}

.hazardous-table-title {
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 45px;
    text-align: center;
}

.hazmat_title,
.hazmat_subtitle {
    color: #fff;
}

.hazardous-hidden-imbglbock {
    margin-bottom: 25px;
}
