/*myReset:Start*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
button,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Cantarell-Regular";
    src: url("../fonts/Cantarell-Regular.ttf");
}

@font-face {
    font-family: "Cantarell-Bold";
    src: url("../fonts/Cantarell-Bold.ttf");
}

body {
    color: #000;
    height: 100%;
    line-height: 1;
    font-family: "RobotoRegular";
    font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0 0 20px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

a,
a:hover,
a:focus {
    outline: none;
    color: #06c;
}

.decoration-none,
.decoration-none a {
    text-decoration: none;
}

ul,
p {
    padding: 0;
    margin-bottom: 20px;
}

img {
    border-style: none;
    outline: none;
    max-width: 100%;
}

fieldset {
    border: none;
}

label {
    cursor: pointer;
}

input,
.slick-slide {
    outline: none;
}

strong {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after,
.myContainer:after,
.admin-wrapper .offer:after {
    display: block;
    content: '';
    clear: both;
}

.clear {
    clear: both;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.list-style-none {
    list-style: none;
}

.theme-bgc,
.intro-section .caption .calculate:hover {
    background-color: #BF0043;
}

.theme-bgc2,
.calculator .calculator-results .btn {
    background-color: #62BBB5;
}

.theme-color,
.admin-wrapper .offer .title {
    color: #BF0043;
}

.theme-color2,
.calculator .calculator-results .currency-links a,
.calculator .calculator-results .return-to-calculator a {
    color: #62BBB5;
}

.theme-border {
    border-color: #BF0043;
}

.easing,
.calculator .shipping .shipping-list label > .inner,
.calculator .calculator-results .btn {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.theme-btn {
    font-weight: bold;
    padding: 11px 8px;
    border: 3px solid;
    display: inline-block;
}

.section-title {
    font-size: 32px;
    margin-bottom: 50px;
}

.section-title .light-title {
    display: block;
    margin-bottom: 15px;
    font-weight: 300;
    margin-top: 14px;
}

.myContainer {
    width: 960px;
    position: relative;
    margin: 0 auto;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
    margin-bottom: 10px;
}

#header .left-block,
#footer .left-block {
    margin-top: 10px;
}

.left-block .main-logo {
    display: block;
    margin-right: 7px;
}

.left-block .site-title {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    margin: 13px 0px 0px;
    padding-left: 17px;
    text-transform: uppercase;
    color: #768588;
    display: inline-block;
    line-height: 24px;
    width: 250px;
}

.left-block .site-title:after {
    position: absolute;
    display: block;
    content: '';
    top: -7px;
    left: 0;
    width: 1px;
    height: 60px;
    background-color: #768588;
}

#header .phone-block {
    margin-top: 30px;
}

#header .phone-block,
#footer .phone-block {
    text-align: center;
    margin-right: 24px;
}

#header .phone-block .phone,
#footer .phone-block .phone {
    display: block;
    font-size: 22px;
    margin-bottom: 5px;
    color: #9d0039;
}

#header .phone-block .phone-info,
#footer .address,
#footer .phone-block .phone-info {
    font-size: 14px;
    color: rgb(118, 133, 136);
}

#header > .myContainer {
    margin-top: 7px;
}

#header .lang-block {
    margin-bottom: 4px;
}

#header .lang {
    display: inline-block;
    width: 37px;
    height: 20px;
    background-repeat: no-repeat;
}

#header .lang-block .ru {
    background-image: url('../img/main/lang-ru.jpg');
}

#header .lang-block .uk {
    background-image: url('../img/main/lang-uk.jpg');
}

#header .lang-block .separator {
    font-size: 23px;
    color: rgb(118, 133, 136);
}

main > .section {
    margin-bottom: 55px;
}

.intro-section {
    min-height: 580px;
    background-image: url('../img/main/intro-section.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.intro-section .caption {
    padding-top: 60px;
    position: relative;
    max-width: 70%;
}

.wrapper.ru .intro-section .caption {
    padding-top: 90px;
}

.intro-section:after {
    position: absolute;
    right: 43.9%;
    display: block;
    content: '';
    height: 111px;
    background-image: url('../img/main/intro-arrow.png');
    background-repeat: no-repeat;
    bottom: 136px;
    width: 156px;
}

.wrapper.en .intro-section:after {
    bottom: 110px;
    right: 44.5%;
}

.intro-section .caption .intro-title {
    font-weight: normal;
    font-size: 56px;
    margin-bottom: 32px;
}

.intro-section .caption .intro-title {
    font-size: 56px;
}

.intro-section .caption .intro-title strong {
    font-size: 60px;
}

.intro-section .caption .calculate {
    float: left;
    font-size: 21px;
    padding: 14px 29px;
    margin-left: 170px;
}

.intro-section .caption .calculate:hover {
    color: #fff;
}

main > .advantages-block {
    margin-bottom: 130px;
}

.advantages-block .advantages-list > li {
    position: relative;
    width: 32%;
    float: left;
    margin-right: 1%;
    text-align: center;
    font-size: 20px;
    color: #34484e;
    font-weight: bold;
}

.advantages-block .advantages-list > li:before {
    display: block;
    content: '';
    width: 40px;
    height: 38px;
    margin: 0 auto 20px;
    background-repeat: no-repeat;
    background-image: url('../img/main/icon-check.png');
}

.numbers-block .numbers-list {
    margin-left: 6%;
}

.numbers-block .numbers-list > li {
    position: relative;
    width: 24%;
    float: left;
    margin-right: 9.3%;
    text-align: center;
}

.numbers-block .numbers-list > li .number-block {
    position: relative;
}

.numbers-block .numbers-list > li .sup-text {
    position: absolute;
    top: -28px;
    font-weight: bold;
    left: -48px;
}

.numbers-block .numbers-list > li .number {
    position: absolute;
    top: -27px;
    left: 14%;
    display: block;
    font-size: 46px;
    background-color: #fff;
}

.numbers-block .numbers-list > li .caption {
    border: 2px solid #BF0043;
    padding: 24px 38px;
    text-align: left;
    font-weight: bold;
    min-height: 47px;
    color: rgb(52, 72, 78);
}

.wrapper.en .numbers-block .numbers-list > li .sup-text {
    top: -49px;
    left: -56px;
}

.wrapper.en .numbers-block .numbers-list > li .caption {
    min-height: 64px;
}

.pluses.section,
.differences.section {
    background-color: #EFEFEF;
    padding-top: 45px;
    padding-bottom: 50px;
}

.differences.section {
    padding-bottom: 70px;
}

.pluses .pluses-list {
    margin-bottom: 0;
}

.pluses .pluses-list > li {
    float: left;
    display: table;
    width: 47%;
    margin-right: 3%;
    margin-bottom: 30px;
    background-size: cover;
    color: #fff;
}

.pluses .pluses-list > li:nth-child(n+1) {
    background-image: url('../img/pluses/plus-bg-maroon.png');
}

.pluses .pluses-list > li:nth-child(2) {
    background-image: url('../img/pluses/plus-bg-grey.png');
}

.pluses .pluses-list > li:nth-child(3) {
    background-image: url('../img/pluses/plus-bg-emerald.png');
}

.pluses .pluses-list > li .image {
    width: 225px;
    height: 170px;
}

.pluses .pluses-list > li .caption {
    display: table-cell;
    width: 41%;
    padding: 20px;
    height: 128px;
    font-size: 18px;
    line-height: 22px;
    vertical-align: middle;
}

.why-us .why-us-list > li {
    margin-bottom: 20px;
    float: left;
    width: 50%;
    text-align: center;
}

.why-us .why-us-list > li:nth-child(n+3):nth-child(-n+5) {
    width: 33%;
}

.why-us .why-us-list > li .icon {
    width: 78px;
    padding: 10px;
    margin-bottom: 15px;
}

.why-us .why-us-list .description {
    line-height: 20px;
    font-size: 17px;
    color: rgb(37, 81, 103);
    padding: 0 46px;
}

.calculator {
    font-family: "Cantarell-Regular";
}

.calculator #calculatorForm {
    margin-bottom: 20px;
    position: relative;
}

.calculator .overlay {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 6px;
    color: #04424C;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-filter: blur(0.8px);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='rgba(252,255,244,0.7)', endColorstr='#383838', GradientType=1);
    -webkit-transition: 1s -webkit-filter linear;
    -webkit-transition: 1s filter linear;
    transition: 1s -webkit-filter linear;
    transition: 1s filter linear;
    transition: 1s filter linear, 1s -webkit-filter linear;
 box-shadow: 0px 0px 18px 0px rgba(48, 45, 48, 1);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(252, 255, 244, 0.7) 0%, #383838 100%);
}

.calculator .overlay .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 34px;
    line-height: 33px;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
    -webkit-text-shadow: 3px 3px 1px rgba(150, 150, 150, 1);
    -moz-text-shadow: 3px 3px 1px rgba(150, 150, 150, 1);
    text-shadow: 3px 3px 1px rgba(150, 150, 150, 1);
}

.calculator .overlay .inner .message {
    text-align: center;
    margin-bottom: 75px;
}

.calculator .overlay .inner .message p{
    line-height: initial;
}

.calculator .overlay .inner .offer .title {
    margin-bottom: 40px;
}

.calculator .overlay .inner .offer .problem-offered-list {
    display: inline-block;
    padding-left: 13%;
}

.calculator .overlay .inner .offer .problem-offered-list > li {
    margin-bottom: 10px;
}

.calculator .section-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.calculator .intro {
    width: 49.6%;
    float: left;
    margin-right: 1.05263%;
    margin-bottom: 10px;
}

.calculator .transparentBox {
    background-color: rgba(181, 181, 181, 0.32);
    border-radius: 5px;
    padding: 20px;
}

.calculator .shipping {
    width: 45%;
    float: left;
    margin-bottom: 10px;
}

.calculator .shipping > .title {
    font-size: 17px;
}

.calculator .shipping > .title,
.calculator .tabs .section-title {
    text-transform: uppercase;
    font-family: "CantarellBold";
}

.calculator .shipping .shipping-list label {
    width: 32.63158%;
    float: left;
    text-align: center;
    display: block;
}

.calculator .shipping .shipping-list label.active > .inner,
.calculator .shipping .shipping-list label:hover > .inner {
    background-color: #62BBB5;
}

.calculator .shipping .shipping-list label > .inner {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 5px;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    background-color: #fbe5d6;
 box-shadow: inset 1px 2px 0 #5a7577, 0 2px 5px #2b4142;
}

.calculator .shipping .shipping-list label > .title {
    display: block;
}

.calculator .shipping .shipping-list .ocean {
    background-image: url('../img/shipping-icons/ocean.png');
}

.calculator .shipping .shipping-list .rail {
    background-image: url('../img/shipping-icons/rail.png');
}

.calculator .shipping .shipping-list .truck {
    background-image: url('../img/shipping-icons/truck.png');
}

.calculator .shipping .shipping-list .air {
    background-image: url('../img/shipping-icons/air.png');
}

.calculator .shipping .shipping-list .break-bulk {
    background-image: url('../img/shipping-icons/ocean.png');
}

.calculator .shipping .shipping-list .all {
    background-image: url('../img/shipping-icons/all.png');
}

.calculator .shipping .shipping-list input {
    display: none;
}

.calculator .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
         flex-direction: row;
    margin-bottom: 10px;
}

.calculator .tabs .tab-section {
    margin-right: 0.652633%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 20%;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

.calculator .tabs .tab-section:last-child {
    margin-right: 0;
}

.calculator .tabs .section-title {
    font-size: 14px;
    margin-bottom: 18px;
}

.calculator .tabs .tab-section input {
    border-radius: 3px;
    border: 1px solid #ADADAD;
    margin-bottom: 10px;
 box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
    padding: 10px 8px;
 box-sizing: border-box;
}

.calculator .tabs .tab-section input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-right: 1%;
    width: 14px;
}

.calculator .tabs .tab-section .tab-field > span {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    line-height: 18px;
}

.calculator .tabs .tab-section input#BulkPortFrom {
    display: block;
}

.calculator .tabs .tab-section.locations input,
.calculator .tabs .tab-section .ui-autocomplete-input {
    display: block;
    width: 100% !important;
    margin-bottom: 8px;
}

.cities-wrapper {
    position: relative;
}

.spin-form-loader {
    position: absolute;
    top: 3px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.calculator .tabs .tab-section select {
    width: 169px;
}

.calculator .tabs .tab-section select:hover {
    border-color: #8c8c8c;
}

.calculator .tabs .tab-section .ui-selectmenu-button {
    max-width: 274px;
    font-size: 12px;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ADADAD;
    color: rgb(51, 51, 51);
 box-sizing: border-box;
    background: #fff;
 box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
    width: 100% !important;
}

.calculator .tabs .inline-label {
    float: left;
    cursor: initial;
    margin-right: 11px;
    margin-top: 10px;
}

.calculator .tabs .tab-section.select-load .ui-selectmenu-button {
    display: inline-block;
    max-width: 110px !important;
}

.calculator .tabs .tab-section.select-load input[type="radio"] {
    margin-left: 0;
}

.calculator .tabs .tab-section.select-load .question {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 3px;
    cursor: pointer;
    vertical-align: middle;
    background-image: url(../img/question-mark.png);
    background-repeat: no-repeat;
}

.calculator .tabs .tab-section.select-load .selectLoadFields.count {
    margin: 10px 0;
    padding-left: 23px;
}

#ModeSelection + .ui-selectmenu-button {
    max-width: initial !important;
}

#ModeSelection + .ui-selectmenu-button.failed,
.calculator .tabs .tab-section.locations .ui-selectmenu-button.failed,
#hazardousClassWrap .ui-selectmenu-button.failed{
    border: 1px solid #EB2B2B;
    outline: none;
}

#FCLSelection + .ui-selectmenu-button {
    max-width: 199px !important;
}

.calculator .tabs .tab-section.select-load input[type="number"] {
    display: block;
    width: 100%;
}

.calculator .tabs .tab-section.select-load input.inline-number {
    display: inline-block;
    width: 79px;
}

.ui-selectmenu-menu .ui-menu,
.ui-widget-content.ui-autocomplete {
    max-width: 274px;
    max-height: 253px !important;
    background: #fff;
    overflow-y: auto;
}

.ui-selectmenu-menu .ui-menu > li,
.ui-widget-content.ui-autocomplete > li {
    padding: 8px 10px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #999;
    color: #62bbb5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.ui-selectmenu-menu .ui-menu > li.ui-state-focus,
.ui-widget-content.ui-autocomplete > li.ui-state-focus {
    border: none !important;
    color: #fff;
    background: none;
    background-color: #0084c7 !important;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
}

.calculator .tabs .tab-section .tab-field {
    display: block;
    -webkit-box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
    border: 0;
    outline: none;
    cursor: pointer;
    box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
    margin-bottom: 10px;
    border-radius: 3px;
}

.calculator .error {
    display: block;
    margin-bottom: 11px;
    padding-left: 3px;
    cursor: initial;
    color: red;
}

.calculator .tabs .tab-section .tab-field.inline {
    display: inline;
    width: 40%;
}

.calculator .form-submit {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
 box-shadow: 0 4px 2px #1d3836, inset 0 2px 1px rgba(250, 250, 250, 0.28);
    outline: none;
}

.calculator .form-submit:hover,
.calculator .calculator-results .btn:hover {
    background-color: #fbe5d6;
    outline: none;
    color: #0F3A4F;
}

.calculator #responseDialog .results-list > li {
    list-style: none;
    margin-bottom: 10px;
}

.calculator .calculator-results {
    color: #255167;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.4);
    text-align: center;
}

.calculator .calculator-results .results-list {
    padding-top: 20px;
    margin-bottom: 40px;
    display: inline-block;
    font-size: 30px;
}

.calculator .calculator-results .multimodal-result-wrapper {
    margin-bottom: 15px;
}

.calculator .calculator-results .multimodal-result {
    font-size: 25px;
    text-align: left;
    display: table-row;
}

.calculator .calculator-results .response-no-data {
    display: table-cell;
    font-size: 20px;
}

.calculator .calculator-results .multimodal-result .result-type {
    display: table-cell;
    font-size: 32px;
    font-weight: bold;
    vertical-align: middle;
    width: 210px;
}

/*.calculator .calculator-results .multimodal-result img {
  max-width: 30px;
  height: auto;
  margin-top: 50%;
}*/

.calculator .calculator-results .currency-links {
    margin-top: 50px;
    font-size: 32px;
    margin-bottom: 20px;
}

.calculator .calculator-results .return-to-calculator,
.calculator .calculator-results .return-to-calculator a {
    display: block;
    font-size: 27px;
    margin-bottom: 30px;
}

.calculator .calculator-results .multimodal-result .result-val {
    display: table-cell;
    vertical-align: middle;
    width: 45%;
    padding: 10px 0;
    white-space: nowrap;
}

.calculator .calculator-results .multimodal-result .result-val .ruble {
    width: 18px;
    height: 18px;
    margin-left: 1%;
}

.calculator .calculator-results .btn-container {
    display: table-cell;
}

.calculator .calculator-results .btn-container {
    width: 33%;
    text-align: right;
}

.calculator .calculator-results .calculation-kind {
    font-size: 20px;
    text-align: left;
    margin: 20px 0 40px;
}

.calculator .calculator-results .btn-container.other {
    display: block;
    width: 100%;
}

.calculator .calculator-results .btn-container.other .btn {
    display: block;
    width: 100%;
    margin: 30px 0;
    font-size: 17px;
    height: 55px;
}

.calculator-modal-auth-btn{
    display: inline-block;
    text-decoration: none;
    background-color: #62BBB5;
    color: #fff;
    padding: 11px;
    margin-bottom: 15px;
    margin-right: 10px;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.calculator-modal-auth-btn:hover,
.calculator-modal-auth-btn:focus
{
    color: #62BBB5;
    background-color: #FBE5D6;
}

.calculator .calculator-results .btn {
    font-size: 12px;
    color: #fff;
    padding: 10px 12px;
    border-radius: 6px;
    vertical-align: middle;
    text-transform: uppercase;
 box-shadow: 0 4px 2px #1d3836, inset 0 2px 1px rgba(250, 250, 250, 0.28);
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin-bottom: 10px;
    width: 39%;
}

.calculator .calculator-results .exchange-btn {
    margin-right: 2%;
}

.calculator .map-services {
    text-align: center;
}

.calculator .map-service {
    display: inline-block;
    width: 445px;
    height: 355px;
    margin: 0 7px;
}

.differences .differences-video-block {
    padding: 50px;
    background-color: #fff;
    border: 1px solid #255167;
}

.differences .differences-video-block video {
    max-width: 100%;
    margin-bottom: 10px;
}

.differences .differences-video-block .description {
    text-align: left;
    font-size: 14px;
    color: #255167;
    max-width: 74%;
    margin: 0 auto;
}

.description {
    margin-bottom: 5px;
}

.differences-blocks .block {
    display: table;
    padding: 26px 0;
    border: 1px solid #255167;
    background-color: #fff;
    margin-bottom: 15px;
    width: 100%;
}

.wrapper.en .differences-blocks .block {
    padding: 25px 0;
}

.differences-blocks .block > .inner {
    display: table-cell;
    padding: 0 11%;
    font-size: 18px;
    line-height: 20px;
}

.differences-blocks .block-wrap {
    float: left;
    width: 32.3%;
    display: table;
    text-align: center;
    margin-right: 1.5%;
    color: #255167;
}

.differences-blocks .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.differences-blocks .differences-middle-block .block > .inner {
    padding: 44px 15%;
}

.wrapper.en .differences-blocks .differences-middle-block .block > .inner {
    padding: 39.9px 15%;
}

.differences-blocks .differences-right-block {
    margin-right: 0;
}

.differences-blocks .differences-right-block .block:nth-child(2) > .inner {
    padding: 69px 15%;
}

.wrapper.en .differences-blocks .differences-right-block .block:nth-child(2) > .inner {
    padding: 78px 15%;
}

.add-info-section {
    position: relative;
}

.add-info-section .add-info-list > li {
    width: 28%;
    float: left;
    text-align: center;
    margin-right: 5%;
    font-size: 20px;
    color: rgb(37, 81, 103);
}

.add-info-section .add-info-list > li .calculate {
    font-weight: bold;
}

main .google-map {
    height: 392px;
    margin-bottom: 10px;
}

.timer-block .title {
    margin-bottom: 32px;
}

.timer-block {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.timer-block .title {
    margin-bottom: 32px;
    padding-top: 20px;
}

#clock {
    position: relative;
    z-index: 1;
    width: 200px;
    height: 200px;
}

#timer {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 500%;
    text-align: center;
    width: 200px;
    z-index: 2;
    text-shadow: rgb(220, 220, 220) 1px 1px, rgb(220, 220, 220) 2px 2px, rgb(220, 220, 220) 3px 3px, rgb(226, 226, 226) 4px 4px, rgb(232, 232, 232) 5px 5px;
    transition: opacity 350ms linear 0s;
    -webkit-transition: opacity 350ms linear 0s;
    -webkit-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
    margin: 36px 1px;
}

.half_opacity {
    opacity: 0.5;
}

#footer {
    padding-bottom: 20px;
}

#footer .address {
    margin-right: 14px;
    margin-top: 40px;
    font-size: 17px;
}

#footer .phone-block .phone-info {
    display: block;
    margin-bottom: 10px;
}

#header .feedback-call-btn,
#footer .feedback-call-btn {
    font-family: Arial, Helvetica, sansserif;
}

#footer .feedback-call-btn {
    border-bottom: 3px dotted #bf0043;
    font-size: 19px;
    font-weight: bold;
}

/*.calculator .calculator-results .multimodal-result . .calculator .map-services {
    text-align: center;
}*/

.calculator .calculator-results .multimodal-result . .calculator .map-services {
    text-align: center;
}

.admin-wrapper {
    padding-top: 15px;
    color: #4E4E4E;
}

.admin-wrapper .offer-container {
    margin-bottom: 25px;
}

.admin-wrapper .offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
         flex-direction: row;
}

.admin-wrapper .offer .admin-wrapper .offer-response .item {
    display: block;
    margin-bottom: 15px;
}

.admin-wrapper .offer .title {
    font-size: 25px;
    padding: 15px 0;
    margin-bottom: 0;
}

.admin-wrapper .admin-wrapper .offer .title {
    padding: 15px 0;
}

.admin-wrapper .offer > .block {
    border: 1px solid #CAC2C2;
    border-radius: 10px;
    padding: 20px 2%;
    -ms-flex: 2;
    -webkit-box-flex: 2;
    flex: 2;
    width: 20%;
}

.admin-wrapper .offer > .left-block {
    margin-right: 2%;
    background-color: #FFFDF9;
}

.admin-wrapper .offer > .left-block .data-block {
    margin-bottom: 15px;
}

.admin-wrapper .offer > .left-block .data-block .dimensions-list > li {
    margin-bottom: 15px;
}

.admin-wrapper .offer > .left-block .data-block .dimensions-list > li .type {
    display: inline-block;
    width: 70px;
}

.admin-wrapper .offer .offer-response {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(210, 210, 210, 0.5);
    line-height: 27px;
    margin-bottom: 10px;
    background-color: #FFF8F4;
}

.admin-wrapper .offer .offer-response .item {
    word-wrap: break-word;
}

.admin-wrapper .offer .right-block .item a {
    display: block;
}

@font-face {
    font-family: "CantarellBold";
    src: url("../fonts/Cantarell-Bold.ttf");
}


/* @font-face {
    font-family: "Cantarell-Regular";
    src: url("../fonts/Cantarell-Regular.ttf");
}

@font-face {
    font-family: "CantarellBold";
    src: url("../fonts/Cantarell-Bold.ttf");
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: "Cantarell-Regular";
    src: url("../fonts/Cantarell-Regular.ttf");
}
@font-face {
    font-family: "CantarellBold";
    src: url("../fonts/Cantarell-Bold.ttf");
}

body {
    color: #000;
    height: 100%;
    line-height: 1;
    font-family: "RobotoRegular";
    font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0 0 20px;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.17em;
}
h4 {
    font-size: 1.12em;
}
h5 {
    font-size: .83em;
}
h6 {
    font-size: .75em;
}
a,
a:hover,
a:focus {
    outline: none;
    color: #06c;
}
.decoration-none,
.decoration-none a {
    text-decoration: none;
}
ul,
p {
    padding: 0;
    margin-bottom: 20px;
}
img {
    border-style: none;
    outline: none;
    max-width: 100%;
}
fieldset {
    border: none;
}
label {
    cursor: pointer;
}
input,
.slick-slide {
    outline: none;
}
strong {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix:after,
.myContainer:after ,
.admin-wrapper .offer:after
{
    display: block;
    content: '';
    clear: both;
}
.clear {
    clear: both;
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-center {
    text-align: center;
}
.text-uppercase {
    text-transform: uppercase;
}
.list-style-none {
    list-style: none;
}
END:myReset */


/*main*/


/* .theme-bgc,
.intro-section .caption .calculate:hover {
    background-color: #BF0043;
}
.theme-bgc2,
.calculator .calculator-results .btn
{
    background-color: #255167;
}
.theme-color ,
.admin-wrapper .offer .title
{
    color: #BF0043;
}
.theme-color2,
.calculator .calculator-results .currency-links a,
.calculator .calculator-results .return-to-calculator a
{
    color: #255167;
}
.theme-border {
    border-color: #BF0043;
}
.easing,
.calculator .shipping .shipping-list label > .inner ,
.calculator .calculator-results .btn
{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.theme-btn {
    font-weight: bold;
    padding: 11px 8px;
    border: 3px solid;
    display: inline-block;
}
.section-title {
    font-size: 32px;
    margin-bottom: 50px;
}
.section-title .light-title {
    display: block;
    margin-bottom: 15px;
    font-weight: 300;
    margin-top: 14px;
}
.myContainer {
    width: 960px;
    position: relative;
    margin: 0 auto;
}
#header {
    margin-bottom: 10px;
}
#header .left-block,
#footer .left-block {
    margin-top: 10px;
}
.left-block .main-logo {
    display: block;
    margin-right: 7px;
}
.left-block .site-title {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    margin: 13px 0px 0px;
    padding-left: 17px;
    text-transform: uppercase;
    color: #768588;
    display: inline-block;
    line-height: 24px;
    width: 250px;
}
.left-block .site-title:after {
    position: absolute;
    display: block;
    content: '';
    top: -7px;
    left: 0;
    width: 1px;
    height: 60px;
    background-color: #768588;
}
#header .phone-block {
    margin-top: 30px;
}
#header .phone-block,
#footer .phone-block {
    text-align: center;
    margin-right: 24px;
}
#header .phone-block .phone,
#footer .phone-block .phone {
    display: block;
    font-size: 22px;
    margin-bottom: 5px;
    color: #9d0039;
}
#header .phone-block .phone-info,
#footer .address,
#footer .phone-block .phone-info {
    font-size: 14px;
    color: rgb(118, 133, 136);
}
#header > .myContainer {
    margin-top: 7px;
}
#header .lang-block {
    margin-bottom: 4px;
}
#header .lang {
    display: inline-block;
    width: 37px;
    height: 20px;
    background-repeat: no-repeat;
}
#header .lang-block .ru {
    background-image: url('../img/main/lang-ru.jpg');
}
#header .lang-block .uk {
    background-image: url('../img/main/lang-uk.jpg');
}
#header .lang-block .separator {
    font-size: 23px;
    color: rgb(118, 133, 136);
}
main > .section {
    margin-bottom: 55px;
}
intro-section

.intro-section {
    min-height: 580px;
    background-image: url('../img/main/intro-section.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.intro-section .caption {
    padding-top: 60px;
    position: relative;
    max-width: 70%;
}
.wrapper.ru .intro-section .caption {
    padding-top: 90px;
}
.intro-section:after {
    position: absolute;
    right: 43.9%;
    display: block;
    content: '';
    height: 111px;
    background-image: url('../img/main/intro-arrow.png');
    background-repeat: no-repeat;
    bottom: 136px;
    width: 156px;
}
.wrapper.en .intro-section:after {
    bottom: 110px;
    right: 44.5%;
}
.intro-section .caption .intro-title {
    font-weight: normal;
    font-size: 56px;
    margin-bottom: 32px;
}
.intro-section .caption .intro-title {
    font-size: 56px;
}
.intro-section .caption .intro-title strong {
    font-size: 60px;
}
.intro-section .caption .calculate {
    float: left;
    font-size: 21px;
    padding: 14px 29px;
    margin-left: 170px;
}
.intro-section .caption .calculate:hover {
    color: #fff;
}
END:intro-section
advantages-section

main > .advantages-block {
    margin-bottom: 130px;
}
.advantages-block .advantages-list > li {
    position: relative;
    width: 32%;
    float: left;
    margin-right: 1%;
    text-align: center;
    font-size: 20px;
    color: #34484e;
    font-weight: bold;
}
.advantages-block .advantages-list > li:before {
    display: block;
    content: '';
    width: 40px;
    height: 38px;
    margin: 0 auto 20px;
    background-repeat: no-repeat;
    background-image: url('../img/main/icon-check.png');
}
END:advantages-section
numbers-block

.numbers-block .numbers-list {
    margin-left: 6%;
}
.numbers-block .numbers-list > li {
    position: relative;
    width: 24%;
    float: left;
    margin-right: 9.3%;
    text-align: center;
}
.numbers-block .numbers-list > li .number-block {
    position: relative;
}
.numbers-block .numbers-list > li .sup-text {
    position: absolute;
    top: -28px;
    font-weight: bold;
    left: -48px;
}
.numbers-block .numbers-list > li .number {
    position: absolute;
    top: -27px;
    left: 14%;
    display: block;
    font-size: 46px;
    background-color: #fff;
}
.numbers-block .numbers-list > li .caption {
    border: 2px solid #BF0043;
    padding: 24px 38px;
    text-align: left;
    font-weight: bold;
    min-height: 47px;
    color: rgb(52, 72, 78);
}
.wrapper.en .numbers-block .numbers-list > li .sup-text {
    top: -49px;
    left: -56px;
}
.wrapper.en .numbers-block .numbers-list > li .caption {
    min-height: 64px;
}
END:numbers-block
pluses-section

.pluses.section,
.differences.section {
    background-color: #EFEFEF;
    padding-top: 45px;
    padding-bottom: 50px;
}
.differences.section {
    padding-bottom: 70px;
}
.pluses .pluses-list {
    margin-bottom: 0;
}
.pluses .pluses-list > li {
    float: left;
    display: table;
    width: 47%;
    margin-right: 3%;
    margin-bottom: 30px;
    background-size: cover;
    color: #fff;
}
.pluses .pluses-list > li:nth-child(n+1) {
    background-image: url('../img/pluses/plus-bg-maroon.png');
}
.pluses .pluses-list > li:nth-child(2) {
    background-image: url('../img/pluses/plus-bg-grey.png');
}
.pluses .pluses-list > li:nth-child(3) {
    background-image: url('../img/pluses/plus-bg-emerald.png');
}
.pluses .pluses-list > li .image {
    width: 225px;
    height: 170px;
}
.pluses .pluses-list > li .caption {
    display: table-cell;
    width: 41%;
    padding: 20px;
    height: 128px;
    font-size: 18px;
    line-height: 22px;
    vertical-align: middle;
}
END:pluses-section
why-us-section

.why-us .why-us-list > li {
    margin-bottom: 20px;
    float: left;
    width: 50%;
    text-align: center;
    ;
}
.why-us .why-us-list > li:nth-child(n+3):nth-child(-n+5) {
    width: 33%;
}
.why-us .why-us-list > li .icon {
    width: 78px;
    padding: 10px;
    margin-bottom: 15px;
}
.why-us .why-us-list .description {
    line-height: 20px;
    font-size: 17px;
    color: rgb(37, 81, 103);
    padding: 0 46px;
    } */


/*END:why-us-section*/


/*calculator*/


/*intro-section*/

.calculator {
    font-family: "Cantarell-Regular";
    /*deleteAfter*/
    margin: 145px 0 65px 0;
}

.calculator > .myContainer {
    width: initial;
}

.calculator #calculatorForm {
    margin-bottom: 20px;
    position: relative;
}

.calculator #calculatorForm p {
    font-family: 'Helvetica';
    line-height: 22px;
}


/* .calculator .overlay{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 6px;
    color: #04424C;
    background-color: rgba(0,0,0,0.7);
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-filter: blur(0.8px);
    filter: blur(0.8px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0.8');
    -webkit-transition: 1s -webkit-filter linear;
    transition: 1s filter linear;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(48,45,48,1);
    -moz-box-shadow: 0px 0px 18px 0px rgba(48,45,48,1);
    box-shadow: 0px 0px 18px 0px rgba(48,45,48,1);
    background: #fcfff4;
    Old browsers
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,255,244,0.7) 0%, #383838 100%);
    FF3.6+
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,255,244,0.7)), color-stop(100%, #383838));
    Chrome,Safari4+
    background: -webkit-radial-gradient(center, ellipse cover, rgba(252,255,244,0.7) 0%, #383838 100%);
    Chrome10+,Safari5.1+
    background: -o-radial-gradient(center, ellipse cover, rgba(252,255,244,0.7) 0%, #383838 100%);
    Opera 12+
    background: -ms-radial-gradient(center, ellipse cover, rgba(252,255,244,0.7) 0%, #383838 100%);
    IE10+
    background: -webkit-radial-gradient(center, ellipse cover, rgba(252,255,244,0.7) 0%, #383838 100%);
    W3C
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(252,255,244,0.7)', endColorstr='#383838', GradientType=1);
    IE6-9 fallback on horizontal gradient
}

.calculator .overlay .inner{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 34px;
    line-height: 33px;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-text-shadow: 3px 3px 1px rgba(150, 150, 150, 1);
    -moz-text-shadow: 3px 3px 1px rgba(150, 150, 150, 1);
    text-shadow: 3px 3px 1px rgba(150, 150, 150, 1);
}

.calculator .overlay .inner .message{
    text-align: center;
    margin-bottom: 75px;
}

.calculator .overlay .inner .offer .title{
    margin-bottom: 40px;
}

.calculator .overlay .inner .offer .problem-offered-list{
    display: inline-block;
    padding-left: 13%;
}

.calculator .overlay .inner .offer .problem-offered-list > li{
    margin-bottom: 10px;
    } */

.calculator .modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
}

.calculator .modal .inner-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    border-radius: 4px;
    color: #444;
 box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -webkit-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
    min-width: 1250px;
    background-color: #f9f9ff;
}

.calculator .hazardous-list.modal .inner-wrap {
  min-width: 600px;
  max-width: 800px;
}

.calculator .modal .inner-wrap .inner {
    background-color: #EAEAEA;
    padding: 30px 0;
}

.calculator .hazardous-list.modal .inner-wrap .inner {
  padding: 30px 20px;
}

.calculator .hazardous-list.modal .inner-wrap .inner .error-msg {
    padding-bottom: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    color: #727272;
}

.calculator .hazardous-list.modal .inner-wrap .inner .ui-selectmenu-button {
  min-width: 100% !important;
  margin-bottom: 20px;
}

.calculator .hazardous-list.modal .inner-wrap .inner .ui-selectmenu-button .ui-selectmenu-text {
  padding: 0.4em;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.calculator .hazardous-list.modal .inner-wrap .inner .hazardousCodeWrp input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  font-family: Helvetica, sans-serif;
}

#hazardousCode-error {
  font-family: Helvetica, sans-serif;
  margin-bottom: 20px;
  font-size: 15px;
}

.calculator .hazardous-list.modal .inner-wrap .inner button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
}

.calculator .hazardous-list.modal .inner-wrap .inner .hazardousCodeWrp label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
}

.ui-selectmenu-menu .ui-menu, .ui-widget-content.ui-autocomplete #ui-id-31-menu {
  max-width: 100% !important;
}

.calculator .modal .inner-wrap .inner .left-block {
    float: left;
    width: 24.21053%;
    margin-right: 3.15789%;
}

.calculator .modal .inner-wrap .inner .left-block .contact-info {
    padding: 12px;
    margin-bottom: 8px;
    font-size: 14px;
    border-radius: 5px;
    color: #333333;
    background-color: #cccccc;
}

.calculator .modal .inner-wrap .inner .left-block .contact-info .text {
    position: relative;
}

.calculator .modal .inner-wrap .inner .left-block .contact-info .text:before {
    content: '';
    display: inline-block;
    ;
    width: 14px;
    height: 19px;
    background-image: url(../img/reserve-now-modal-phone.png);
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-bottom: 4px;
    vertical-align: middle;
}

.calculator .modal .inner-wrap .inner .right-block {
    float: right;
    width: 70.52632%;
    padding: 20px;
    border-radius: 5px;
    background-color: #e5e5e5;
    border: 1px solid #bfbfbf;
 box-sizing: border-box;
}

.calculator .modal .form-title {
    font-size: 35px;
    margin-bottom: 10px;
    color: #62bbb5;
}

.calculator .modal .right-block .description {
    font-size: 14px;
    margin-bottom: 14px;
    color: #191919;
}

.calculator .modal .reservation-form .element-block {
    margin-bottom: 6px;
}

.calculator .modal .reservation-form .element-block .title {
    display: block;
    color: #0e4346;
    margin-bottom: 7px;
}

.calculator .modal .reservation-form .element-block .form-element {
    width: 100%;
    padding: 15px !important;
}

.calculator .modal .btn-block .calculator .section-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.calculator .modal .btn-block .btn {
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.calculator .modal .inner-wrap .close-btn {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
    background-image: url(../img/fancybox_sprite.png);
    background-repeat: no-repeat;
}

.calculator .section-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.calculator .modal .btn-block .submit-btn {
    padding: 12px 0;
    width: 150px;
    text-align: center;
    margin-right: 8px;
    border-radius: 3px;
    color: #fff;
    background-color: #62bbb5;
}

.calculator .modal .btn-block .submit-btn:hover {
    background-color: #0E4346;
}

.calculator .modal .btn-block .cancel-btn {
    text-decoration: underline;
    color: #62bbb5;
    background-color: transparent;
}

.calculator .section-title {
    font-family: "Cantarell-Regular";
    font-size: 36px;
    text-align: left;
    margin-bottom: 35px;
}

.calculator .intro {
    width: 49.6%;
    float: left;
    margin-right: 1.05263%;
    margin-bottom: 10px;
}

.calculator .transparentBox {
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(181, 181, 181, 0.32);
}

.calculator .shipping {
    width: 49.3%;
    float: left;
    margin-bottom: 10px;
}

.calculator .shipping > .title {
    font-size: 17px;
    margin-bottom: 0;
}

.calculator .shipping > .title,
.calculator .tabs .section-title {
    text-transform: uppercase;
}

.calculator .shipping .shipping-list label {
    width: 32.63158%;
    float: left;
    text-align: center;
    display: block;
}

.calculator .shipping .shipping-list label.active > .inner,
.calculator .shipping .shipping-list label:hover > .inner {
    background-color: #62BBB5;
}

.calculator .shipping .shipping-list label > .inner {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 5px;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    background-color: #fbe5d6;
 box-shadow: inset 1px 2px 0 #5a7577, 0 2px 5px #2b4142;
}

.calculator .shipping .shipping-list label > .title {
    display: block;
}

.calculator .shipping .shipping-list .ocean {
    background-image: url('../img/shipping-icons/ocean.png');
}

.calculator .shipping .shipping-list .rail {
    background-image: url('../img/shipping-icons/rail.png');
}

.calculator .shipping .shipping-list .truck {
    background-image: url('../img/shipping-icons/truck.png');
}

.calculator .shipping .shipping-list .air {
    background-image: url('../img/shipping-icons/air.png');
}

.calculator .shipping .shipping-list .break-bulk {
    background-image: url('../img/shipping-icons/ocean.png');
}

.calculator .shipping .shipping-list .all {
    background-image: url('../img/shipping-icons/all.png');
}

.calculator .shipping .shipping-list input {
    display: none;
}

#outer-services-controls > div.result-search {
  float: right;
  padding-top: 15px;
  margin: 0 10px;
  display: block;
}

#outer-services-controls > div.result-search > input[type="text"] {
  height: 32px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
}

.outer-servisec-item-count__wrapp {
  float: left;
  margin-right: 10px;
}

.outer-servisec-filtration-select__wrapp {
  float: left;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

#outer-servisec-filtration-select-button {
  width: 160px;
}

.outer-servisec-filtration-select__wrapp .ui-selectmenu-text {
  background-color: #fff;
  height: 32px;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #727272;
}

/*END:intro-section*/


/*tab-section*/

.calculator .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
         flex-direction: row;
    margin-bottom: 10px;
}

.calculator .tabs .tab-section {
    /*float: left;
    width: 28.6%;*/
    margin-right: 0.652633%;
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    width: 20%;
    padding-bottom: 3px;
    /* For old syntax, otherwise collapses. */
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    -webkit-box-flex: 1;
    flex: 1;
}

.calculator .tabs .tab-section:last-child {
    margin-right: 0;
}

.calculator .tabs .section-title {
    font-size: 14px;
    margin-bottom: 18px;
}

.calculator .tabs .tab-section input,
.calculator .reserve-now-modal .reservation-form .element-block .form-element {
    border-radius: 3px;
    border: 1px solid #ADADAD;
    margin-bottom: 10px;
 box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
    padding: 10px 8px;
 box-sizing: border-box;
}

.calculator .tabs .tab-section input,
.calculator .reserve-now-modal .reservation-form .element-block .fo {
    border-radius: 3px;
    border: 1px solid #ADADAD;
    margin-bottom: 10px;
 box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
    padding: 10px 8px;
 box-sizing: border-box;
}

.calculator .tabs .tab-section input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-right: 1%;
    width: 14px;
}

.calculator .tabs .tab-section .loadType {
    margin: 10px 0;
}

.calculator .tabs .tab-section .tab-field > span {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    line-height: 18px;
}

.calculator .tabs .tab-section input#BulkPortFrom {
    display: block;
}

.calculator .tabs .tab-section.locations input,
.calculator .tabs .tab-section .ui-autocomplete-input {
    display: block;
    width: 100% !important;
    margin-bottom: 8px;
}

.cities-wrapper {
    position: relative;
}

.spin-form-loader {
    position: absolute;
    top: 3px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.calculator .tabs .tab-section select {
    width: 169px;
}

.calculator .tabs .tab-section select:hover {
    border-color: #8c8c8c;
}

.calculator .tabs .tab-section .ui-selectmenu-button {
    max-width: 318px;
    font-size: 12px;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ADADAD;
    color: rgb(51, 51, 51);
 box-sizing: border-box;
    background: #fff;
 box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
    width: 100% !important;
}

.calculator .tabs .inline-label {
    float: left;
    cursor: initial;
    margin-right: 11px;
    margin-top: 10px;
}

.calculator .tabs .tab-section.select-load .ui-selectmenu-button {
    display: inline-block;
    max-width: 110px !important;
}

.calculator .tabs .tab-section.select-load input[type="radio"] {
    margin-left: 0;
}

.calculator .tabs .tab-section.select-load .question {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 3px;
    cursor: pointer;
    vertical-align: middle;
    background-image: url(../img/question-mark.png);
    background-repeat: no-repeat;
}

#ModeSelection + .ui-selectmenu-button {
    max-width: initial !important;
}

#FCLSelection + .ui-selectmenu-button {
    max-width: 199px !important;
}

.tab-section.select-load #FCLLCLSelection + .ui-selectmenu-button {
    max-width: 218px !important;
}

.calculator .tabs .tab-section.select-load input[type="number"] {
    display: block;
}

.calculator .tabs .tab-section.select-load input.inline-number {
    display: inline-block;
    width: 29.1%;
}

.ui-selectmenu-menu .ui-menu,
.ui-widget-content.ui-autocomplete {
    max-width: 317px;
    max-height: 253px !important;
    background: #fff;
    overflow-y: auto;
}

.ui-selectmenu-menu .ui-menu > li,
.ui-widget-content.ui-autocomplete > li {
    padding: 8px 10px;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    border-bottom: 1px solid #999;
    color: #62bbb5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.ui-selectmenu-menu .ui-menu > li.ui-state-focus,
.ui-widget-content.ui-autocomplete > li.ui-state-focus {
    border: none !important;
    color: #fff;
    background: none;
    background-color: #0084c7 !important;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
    background: none;
}

.calculator .tabs .tab-section .tab-field {
    display: block;
    -webkit-box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
    border: 0;
    outline: none;
    cursor: pointer;
    box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
    margin-bottom: 10px;
    border-radius: 3px;
}

.calculator .tabs .tab-section .tab-field label span {
    padding: 10px 0;
    display: block;
}


.calculator .error {
    display: block;
    margin-bottom: 11px;
    padding-left: 3px;
    cursor: initial;
    color: red;
}

.calculator .tabs .tab-section .tab-field.inline {
    display: inline;
    width: 40%;
}

.calculator .form-submit {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
 box-shadow: 0 4px 2px rgba(98, 187, 181, 0.4), inset 0 2px 1px rgba(250, 250, 250, 0.28);
    outline: none;
}

.calculator .form-submit:hover,
.calculator .calculator-results .btn:hover {
    background-color: #fbe5d6;
    outline: none;
    color: #62BBB5;
}

#responseDialog > div > div.calculator-results > h2 {
  clear: both;
  font-size: 32px;
  color: #62BBB5;
  text-shadow: none;
  padding: 30px 0 20px 0;
}

.calculator #responseDialog .results-list > li {
    list-style: none;
    margin-bottom: 10px;
}

.calculator .calculator-results {
    color: #62BBB5;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.4);
    text-align: center;
}

.calculator .calculator-results .results-list {
    padding-top: 10px;
    margin-bottom: 0;
    display: inline-block;
    font-size: 30px;
    width: 100%;
    overflow-x: scroll;
}

.calculator .calculator-results .multimodal-result-wrapper {
    margin-bottom: 15px;
}

.calculator .calculator-results .multimodal-result {
    font-size: 25px;
    text-align: left;
    display: table;
    background-color: #fff;
    margin-bottom: 5px;
    width: 960px;
    border-radius: 5px;
}

.calculator .calculator-results .response-no-data {
    display: table-cell;
    font-size: 20px;
}

.calculator .calculator-results .multimodal-result .result-type {
    display: table-cell;
    text-align: left;
    font-size: 19px;
    font-weight: bold;
    vertical-align: middle;
    width: 35%;
    padding: 20px 15px;
    text-shadow: none;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;
}

.calculator .calculator-results .currency-links {
    margin-top: 50px;
    font-size: 32px;
    margin-bottom: 20px;
}

.calculator .calculator-results .return-to-calculator,
.calculator .calculator-results .return-to-calculator a {
    display: block;
    font-size: 27px;
    margin-bottom: 30px;
}

.calculator .calculator-results .multimodal-result .result-val {
    font-family: Helvetica, sans-serif;
    display: table-cell;
    vertical-align: middle;
    width: 13%;
    padding: 10px 0;
    text-align: center;
    font-size: 19px;
    text-shadow: none;
}

.calculator .calculator-results .multimodal-result .result-val .ruble {
    width: 18px;
    height: 18px;
    margin-left: 1%;
}

.calculator .calculator-results .btn-container {
    display: table-cell;
}

.calculator .calculator-results .btn-container {
    width: 35%;
    text-align: right;
    vertical-align: middle;
    padding-right: 15px;
}

.calculator .calculator-results .calculation-kind {
    font-size: 20px;
    text-align: left;
    margin: 20px 0 40px;
}

.calculator .calculator-results .btn-container.other {
    display: block;
    width: 100%;
}

.calculator .calculator-results .btn-container.other .btn {
    display: block;
    width: 100%;
    margin: 30px 0;
    font-size: 17px;
    height: 55px;
}

.calculator .calculator-results .btn {
    width: 70%;
    font-size: 11px;
    color: #fff;
    padding: 10px 12px;
    border-radius: 6px;
    vertical-align: middle;
    text-transform: uppercase;
    box-shadow: 0 4px 2px #1d3836, inset 0 2px 1px rgba(250, 250, 250, 0.28);
    cursor: pointer;
    display: inline-block;
    height: 35px;
    margin-bottom: 0;
}

.calculator .calculator-results .exchange-btn,
.calculator .calculator-results .reserve-btn {
    margin-right: 2%;
    box-shadow: none;
}

.calculator .map-services {
    text-align: center;
    background-color: rgba(181, 181, 181, 0.32);
    /*padding: 30px 0;*/
    border-radius: 5px;
}

.calculator .map-service {
    display: inline-block;
    width: 515px;
    height: 355px;
    margin: 30px 7px;
}

#responseDialog > div > div.timer-block > h2 {
  font-size: 32px;
}

/*END:tab-section*/


/*END:calculator*/


/*differences-section*/

.differences .differences-video-block {
    padding: 50px;
    background-color: #fff;
    border: 1px solid #255167;
}

.differences .differences-video-block video {
    max-width: 100%;
    margin-bottom: 10px;
}

.differences .differences-video-block .description {
    text-align: left;
    font-size: 14px;
    color: #255167;
    max-width: 74%;
    margin: 0 auto;
}

.description {
    margin-bottom: 5px;
}

.differences-blocks .block {
    display: table;
    padding: 26px 0;
    border: 1px solid #255167;
    background-color: #fff;
    margin-bottom: 15px;
    width: 100%;
}

.wrapper.en .differences-blocks .block {
    padding: 25px 0;
}

.differences-blocks .block > .inner {
    display: table-cell;
    padding: 0 11%;
    font-size: 18px;
    line-height: 20px;
}

.differences-blocks .block-wrap {
    float: left;
    width: 32.3%;
    display: table;
    text-align: center;
    margin-right: 1.5%;
    color: #255167;
}

.differences-blocks .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.differences-blocks .differences-middle-block .block > .inner {
    padding: 44px 15%;
}

.wrapper.en .differences-blocks .differences-middle-block .block > .inner {
    padding: 39.9px 15%;
}

.differences-blocks .differences-right-block {
    margin-right: 0;
}

.differences-blocks .differences-right-block .block:nth-child(2) > .inner {
    padding: 69px 15%;
}

.wrapper.en .differences-blocks .differences-right-block .block:nth-child(2) > .inner {
    padding: 78px 15%;
}


/*END:differences-section*/


/*add-info-section*/

.add-info-section {
    position: relative;
    /*background-image: url('../img/add-info/add-info-bg.png');*/
}

.add-info-section .add-info-list > li {
    width: 28%;
    float: left;
    text-align: center;
    margin-right: 5%;
    font-size: 20px;
    color: rgb(37, 81, 103);
}

.add-info-section .add-info-list > li .calculate {
    font-weight: bold;
}


/*END:add-info-section*/


/*map-section*/

main .google-map {
    height: 392px;
    margin-bottom: 10px;
}

#outer-services-controls div {
  display: inline-block;
}

#outer-services-controls .export-btn {
  float: right;
}

#outer-services-controls .export-btn #getEcelBtn,
#outer-services-controls .export-btn #printBtn  {
  margin: 15px 5px;
  padding: 6px 15px;
  border: 2px solid #62BBB5;
  color: #62BBB5;
  background-color: transparent;
  border-radius: 5px;
  height: 32px;
}

#outer-services-controls .export-btn #getEcelBtn:hover,
#outer-services-controls .export-btn #printBtn:hover  {
  border: 2px solid #62BBB5;
  color: #fff;
  background-color: #62BBB5;
  border-radius: 5px;
}


#outer-servisec-item-count-button {
  width: 120px !important;
  background-color: #fff;
  border-radius: 5px;
  vertical-align: middle;
  border: 1px solid #ADADAD;
  box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
}

#outer-servisec-filtration-select-button .ui-selectmenu-text,
#outer-services-controls > div.result-search > input[type="text"] {
  border: 1px solid #ADADAD;
  box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
}

#outer-servisec-item-count-button .ui-selectmenu-text {
  padding: 5px 10px;
  color: #727272;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
}

.ui-selectmenu-button .ui-icon.ui-icon-triangle-1-s,
.ui-selectmenu-button .ui-icon.ui-icon-triangle-1-s:hover {
  background-image: url("../img/jquery-ui/ui-icons_222222_256x240.png");
}

lable.outer-servisec-item-count__label {
  color: #727272;
  font-size: 15px;
  padding-left: 5px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#outer-services-controls > div:nth-child(2) {
  padding-top: 15px;
}

#outer-services {
  display: table;
  width: 100%;
  background-color: #fff;
  padding: 21px 15px;
  height: 60px;
  border-radius: 5px;
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-shadow: none;
}

#outer-services div {
  display: table-cell;
  text-align: left;
}

.outer-services__wrapper h2 {
    font-size: 32px;
    color: #62BBB5;
    margin: 40px 0 50px 0;
    clear: both;
    padding-top: 30px;
}

#calc-result-controls {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

#calc-result-controls .currency-links,
#calc-result-controls .return-to-calculator {
  margin-bottom: 20px;
}

#calc-result-controls .currency-links a,
#calc-result-controls .return-to-calculator a {
  color: #62bbb5;
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#calc-result-controls .currency-links a:hover,
#calc-result-controls .return-to-calculator a:hover {
  text-decoration: underline;
}

#calc-result-controls .return-to-calculator p {
  font-size: 17px;
  color: #727272;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 3.2;
}

.outer-services__wrapper .outer-services__table {
  width: 100%;
  overflow-x: scroll;
}

.out-services-results-header {
  display: table;
  width: 960px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  height: 60px;
  margin-bottom: 5px;
  font-size: 19px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  color: #727272;
}

.out-services-results-header span {
  display: table-cell;
  line-height: 3.2;
}

.out-services-results-header span:first-child {
  width: 30%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.out-services-results-header span:nth-child(2) {
  width: 20%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.out-services-results-header span:nth-child(3) {
  width: 20%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.out-services-results-header span:last-child {
  width: 30%;
}

#outer-services.calculator-results {
  display: table;
  width: 960px;
  padding: 0;
  border-collapse: collapse;
}

#outer-services.calculator-results > div {
  display: table-row;
  width: 100%;
  border-radius: 5px;
  border-bottom: 5px solid #e7e7e7;
  vertical-align: middle;
  height: 60px;
}

#outer-services.calculator-results > div > span,
#outer-services.calculator-results > div > div {
  display: table-cell;
  text-align: left;
}

#outer-services.calculator-results > div > div.service-cell {
  width: 30%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 15px 15px 0;
  line-height: 1.3;
  vertical-align: middle;
}

#outer-services.calculator-results > div > div.service-cell span {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

#outer-services.calculator-results > div > div.service-cell span.service-logo,
div.calculator-results > div.results-list > div.multimodal-result > span.service-logo {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 10px 10px 0 10px;
  float: left;
}

div.calculator-results > div.results-list > div.multimodal-result > span.service-logo {
  display: table-cell;
}

#outer-services.calculator-results > div > div.service-cell > span.service-logo > img,
div.calculator-results > div.results-list > div.multimodal-result > span.service-logo > img {
  height: 40px;
  width: auto;
  max-width: 40px;
}

div.calculator-results > div.results-list > div.multimodal-result > span.product-type {
  display: table-cell;
  width: 12%;
  vertical-align: middle;
  text-align: center;
  font-size: 0.7em;
}

div.calculator-results > div.results-list > div.multimodal-result > div.btn-container {
  width: 35%;
}

#outer-services.calculator-results > div > div.service-cell > span.tariff-service {
  padding-left: 10px;
}

#outer-services.calculator-results > div > span.service-value {
  width: 20%;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 15px;
  font-family: Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 400;
  vertical-align: middle;
}

#outer-services.calculator-results > div > span.term-delivery {
  width: 20%;
  text-align: center;
  padding: 15px;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 19px;
  font-weight: 400;
  vertical-align: middle;
}

#outer-services.calculator-results > div > span.outer-services__btn-reserve {
    vertical-align: middle;
}

#outer-services.calculator-results > div > span.term-delivery .btn {
  margin-left: 30px;
}

#outer-services.calculator-results > div > div > span.service-name {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 19px;
}

#outer-services.calculator-results > div > span.outer-services__btn-reserve {
  width: 30%;
  text-align: center;
}

#outer-services-controls > .outer-servisec-filtration-select__wrapp >
span.ui-selectmenu-button > span.ui-selectmenu-text {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.2;
}

#calc-result-controls button {
  margin-bottom: 30px;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: #62bbb5;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-transition: all 1s ease-out 0.5s;
  transition: all ease-out 0.5s;
}

#calc-result-controls button:hover {
  background-color: #fbe5d6;
  color: #62BBB5;
}

.ui-selectmenu-menu.ui-front.ui-selectmenu-open ul {
  border-radius: 5px;
  border: 1px solid #ADADAD;
}

.ui-selectmenu-menu.ui-front.ui-selectmenu-open ul li.ui-menu-item {
  font-family: Helvetica, sans-serif;
  border: none;
  text-shadow: none;
  color: #727272;
  font-size: 14px;
  font-weight: 400;
}

.ui-selectmenu-menu .ui-menu > li.ui-state-focus, .ui-widget-content.ui-autocomplete > li.ui-state-focus {
  color: #fff !important;
  background-color: #62bbb5 !important;
}

#outer-services-controls > div.outer-servisec-item-count__wrapp > label {
  font-family: Helvetica, sans-serif;
  color: #727272;
  font-size: 14px;
}

#calculator-results-preloader {
  margin-top: 30px;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: #727272;
}

#outer-servisec-filtration-select-menu {
  max-width: 201px;
}

/*END:map-section*/


/*timer*/


/*#timers canvas {
    -webkit-transform : rotate(-90deg);
    -moz-transform : rotate(-90deg);
 }

 #timers {
    position: relative;
    width: 70px;
    height: 90px;
    margin: 0 auto;
    z-index: 1;
 }

 #timers span {
    position   : absolute;
    z-index    : 1;
    top        : 50%;
    margin-top : -0.6em;
    display    : block;
    width      : 100%;
    text-align : center;
    height     : 1.5em;
    color      : #528f20;
    }*/


/*END:timer*/

#responseDialog {
    background-color: rgba(181, 181, 181, 0.32);
    padding: 15px 0;
    margin-bottom: 15px;
    border-radius: 5px;
}


/*newtimer*/

.timer-block .title {
    margin-bottom: 32px;
}

.timer-block {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.timer-block .title {
    margin-bottom: 32px;
    padding-top: 20px;
    color: #62BBB5;
}

#clock {
    position: relative;
    z-index: 1;
    width: 200px;
    height: 200px;
}

#timer {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 500%;
    text-align: center;
    width: 200px;
    z-index: 2;
    text-shadow: rgb(220, 220, 220) 1px 1px, rgb(220, 220, 220) 2px 2px, rgb(220, 220, 220) 3px 3px, rgb(226, 226, 226) 4px 4px, rgb(232, 232, 232) 5px 5px;
    transition: opacity 350ms linear 0s;
    -webkit-transition: opacity 350ms linear 0s;
    -webkit-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
    margin: 36px 1px;
}

.half_opacity {
    opacity: 0.5;
}


/*footer*/

#footer {
    padding-bottom: 20px;
}

#footer .address {
    margin-right: 14px;
    margin-top: 40px;
    font-size: 17px;
}

#footer .phone-block .phone-info {
    display: block;
    margin-bottom: 10px;
}

#header .feedback-call-btn,
#footer .feedback-call-btn {
    font-family: Arial, Helvetica, sansserif;
}

#footer .feedback-call-btn {
    border-bottom: 3px dotted #bf0043;
    font-size: 19px;

    font-weight: bold;
}


/*END:footer*/


/*END:main*/

.calculator .calculator-results .multimodal-result . .calculator .map-services {
    text-align: center;
}

.calculator .calculator-results .multimodal-result . .calculator .map-services {
    text-align: center;
}


/*ADMIN*/

.admin-wrapper {
    margin-top: 100px;
    padding-top: 15px;
    color: #4E4E4E;
}

.admin-wrapper .offer-container {
    margin-bottom: 25px;
}

.admin-wrapper .offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
         flex-direction: row;
}

.admin-wrapper .offer .admin-wrapper .offer-response .item {
    display: block;
    margin-bottom: 15px;
}

.admin-wrapper .offer .title {
    font-size: 25px;
    padding: 15px 0;
    margin-bottom: 0;
}

.admin-wrapper .admin-wrapper .offer .title {
    padding: 15px 0;
}

.admin-wrapper .offer > .block {
    border: 1px solid #CAC2C2;
    border-radius: 10px;
    padding: 20px 2%;
    -ms-flex: 2;
    -webkit-box-flex: 2;
    flex: 2;
    width: 20%;
}

.admin-wrapper .offer > .left-block {
    margin-right: 2%;
    background-color: #FFFDF9;
}

.admin-wrapper .offer > .left-block .data-block {
    margin-bottom: 15px;
}

.admin-wrapper .offer > .left-block .data-block .dimensions-list > li {
    margin-bottom: 15px;
}

.admin-wrapper .offer > .left-block .data-block .dimensions-list > li .type {
    display: inline-block;
    width: 70px;
}

.admin-wrapper .offer .offer-response {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(210, 210, 210, 0.5);
    line-height: 27px;
    margin-bottom: 10px;
    background-color: #FFF8F4;
}

.admin-wrapper .offer .offer-response .item {
    word-wrap: break-word;
}

.admin-wrapper .offer .right-block .item a {
    display: block;
}

/*END:ADMIN*/


/*RESPONSIVE*/

@media screen and (max-width: 1800px) {
    .intro-section:after {
        right: 43.4%;
    }
}

@media screen and (max-width: 1620px) {
    .intro-section:after {
        right: 43%;
    }
    .wrapper.en .intro-section:after {
        right: 43%;
    }
}

@media screen and (max-width: 1510px) {
    .intro-section:after {
        right: 42.5%;
    }
}

@media screen and (max-width: 1400px) {
    .intro-section:after {
        right: 41%;
    }
}

@media screen and (max-width: 1320px){
    .calculator .modal .inner-wrap{
        min-width: inherit;
        width: 90%;
    }
}

@media screen and (max-width: 1300px) {
    .wrapper.en .intro-section:after {
        right: 42%;
    }
}

@media screen and (max-width: 1180px) {
    .intro-section:after {
        right: 39.5%;
    }
    .wrapper.en .intro-section:after {
        right: 41%;
    }
}

@media screen and (max-width: 1000px) {
    .myContainer {
        width: 90%;
    }
    .intro-section:after {
        display: none;
    }
    #header > .myContainer > .left-block,
    #footer > .myContainer > .left-block {
        display: block;
        float: none;
        width: 100%;
        margin: 0 auto 12px;
        text-align: center;
        ;
    }
    #header > .myContainer > .left-block > .logo-wrap,
    #footer > .myContainer > .left-block > .logo-wrap {
        text-align: left;
        display: inline-block !important;
    }
    #header > .myContainer > .right-block,
    #footer > .myContainer > .right-block {
        float: none;
        text-align: center;
        margin-bottom: 15px;
    }
    #header .phone-block,
    #footer .address,
    #header .feedback-block,
    #footer .phone-block {
        float: none;
        margin-bottom: 25px;
    }
    .intro-section {
        background-position: 30% 100%;
        min-height: 360px;
    }
    .pluses .pluses-list > li {
        float: none;
        width: 100%;
        text-align: center;
        color: inherit;
        background-image: none;
    }
    .pluses .pluses-list > li:nth-child(n+1) {
        background-image: none;
    }
    .pluses .pluses-list > li .image {
        max-width: 100%;
        width: auto;
        float: none;
    }
    .pluses .pluses-list > li .caption {
        width: 100%;
        height: auto;
        word-break: break-all;
        font-size: 1.5em;
        padding: 30px 0;
    }
    .advantages-block .advantages-list > li,
    .numbers-block .numbers-list > li,
    .why-us .why-us-list > li,
    .why-us .why-us-list > li:nth-child(n+3):nth-child(-n+5),
    .calculator .intro,
    .calculator .shipping,
    .calculator .tabs .tab-section,
    .add-info-section .add-info-list > li,
    .calculator .shipping .shipping-list label {
        float: none;
        width: 100%;
        margin-bottom: 25px;
    }
    .calculator .tabs {
        display: block;
    }
    .intro-section .caption:after {
        right: 0;
    }
    .numbers-block .numbers-list {
        margin-left: 0;
    }
    .numbers-block .numbers-list > li {
        margin-right: 0;
        margin-bottom: 90px;
    }
    .numbers-block .numbers-list > li:last-child {
        margin-bottom: 0;
    }
    .numbers-block .numbers-list > li .caption {
        font-size: 1.3em;
        padding: 35px 58px 0 58px;
    }
    .numbers-block .numbers-list > li .sup-text {
        top: -40px;
        left: 0;
    }
    .wrapper.en .numbers-block .numbers-list > li .sup-text {
        left: 0;
    }
    .why-us .why-us-list .description,
    .add-info-section .add-info-list > li .description {
        font-size: 1.5em;
        line-height: 40px;
    }
    .calculator .shipping,
    .calculator .tabs .tab-section {
        margin-right: 0;
        padding: 25px 0;
    }
    .calculator .section-title {
        font-size: 43px;
        margin-bottom: 42px;
    }
    .calculator .intro {
        font-size: 22px;
    }
    .calculator .tabs .tab-section {
        height: auto;
        padding-bottom: 20px;
    }
    .calculator .tabs .section-title {
        font-size: 1.5em;
        margin-bottom: 30px;
        text-align: center;
        ;
    }
    .calculator .tabs .tab-section.select-load .ui-selectmenu-button,
    #FCLSelection + .ui-selectmenu-button {
        max-width: initial !important;
    }
    .calculator .tabs .tab-section fieldset,
    .calculator .tabs .tab-section #selectLoad {
        padding: 0 20px;
    }
    .calculator .tabs .tab-section input,
    .ui-selectmenu-button span.ui-selectmenu-text {
        font-weight: normal;
        font-size: 19px;
        width: 100%;
        padding: 10px;
        padding-left: 10px;
    }

    .calculator .tabs .tab-section.locations input,
    .calculator .tabs .tab-section .ui-autocomplete-input {
        margin-bottom: 15px;
    }
    .calculator .tabs .tab-section.select-load input.inline-number {
        width: 160px;
    }
    .calculator .tabs .tab-section input[type="radio"] {
        width: inherit;
    }
    .calculator .tabs .tab-section input[type="radio"],
    .calculator .tabs .tab-section input[type="checkbox"] {
        /*width: 22px;
            height: 22px;*/
        /*width: inherit;*/
        margin: 10px;
        vertical-align: middle;
        margin-left: 4px;
        -webkit-transform: scale(1.6);
             transform: scale(1.6);
    }
    .calculator .tabs .tab-section.select-load input[type="radio"] {
        margin-left: 4px;
    }
    .calculator .tabs .tab-section.select-load .selectLoadFields {
        margin-top: 15px;
    }
    .calculator .shipping > .title {
        font-size: 27px;
        line-height: 35px;
        text-align: center;
        padding: 0 1%;
    }
    .calculator .shipping .shipping-list .title {
        font-size: 1.7em;
        margin-bottom: 40px;
    }
    .calculator .tabs .tab-section .ui-selectmenu-button,
    .ui-selectmenu-menu .ui-menu,
    .ui-widget-content.ui-autocomplete {
        padding: 0;
        max-width: initial;
    }
    .ui-selectmenu-menu .ui-menu > li,
    .ui-widget-content.ui-autocomplete > li {
        font-size: 17px;
        padding: 18px;
    }
    .calculator .tabs .inline-label {
        float: none;
        display: block;
        margin-bottom: 15px;
        font-size: 22px;
    }
    .calculator .tabs .tab-section .tab-field {
        width: 100%;
        margin: 0 auto 0px;
        padding: 10px 0;
        font-size: 1.5em;
    }
    .intro-section .caption .calculate {
        float: left;
    }
    .intro-section .caption:after {
        display: none;
    }
    .pluses .pluses-list > li,
    .add-info-section .add-info-list > li {
        margin-right: 0;
    }
    .calculator .tabs .tab-section.select-load #Refrigerated label {
        font-size: 24px;
    }
    .differences-blocks .block-wrap {
        float: none;
        display: block;
        width: 100%;
        margin-right: 0;
    }
    .differences-blocks .block > .inner {
        font-size: 1.7em;
        line-height: 40px;
    }
    .differences-blocks .differences-middle-block .block > .inner,
    .differences-blocks .differences-right-block .block:nth-child(2) > .inner {
        padding: 0 11%;
    }
    .differences .differences-video-block {
        padding: 20px;
    }
    .differences .differences-video-block video {
        height: 256px;
        margin-bottom: 25px;
    }
    .add-info-section .add-info-list > li .calculate {
        display: block;
        margin-top: 10px;
    }
    .calculator .map-service {
        display: block;
        width: 100%;
        margin: 0 0 15px;
    }
    .differences .differences-video-block .description {
        font-size: 1.3em;
        max-width: 100%;
    }
    .calculator .tabs .tab-section.select-load input.inline-number {
        display: block;
        width: 100%;
    }
    .calculator .tabs .tab-section .dimensions .token {
        display: none;
    }
    .calculator .calculator-results .multimodal-result {
        font-size: 26px;
        margin-bottom: 25px;
    }

    /*ADMIN*/
    .admin-wrapper .offer {
        display: block;
    }
    .admin-wrapper .offer > .block {
        display: block;
        width: initial;
        margin-right: 0;
        margin-bottom: 15px;
    }
    /*END:ADMIN*/
}

@media screen and (max-width: 850px) {
    /*modal*/
    .calculator .modal .inner-wrap{
        overflow: auto;
    }
    .calculator .modal .inner-wrap .inner .left-block,
    .calculator .modal .inner-wrap .inner .right-block
    {
        float: none;
        width: 100%;
        margin-bottom: 25px;
    }
    .calculator .modal .inner-wrap .close-btn{
        top: 0;
        right: 0;
    }
    /*END:modal*/
    .intro-section .caption .intro-title strong {
        font-size: 45px;
    }
    .intro-section .caption .intro-title {
        font-size: 25px;
    }
    .intro-section .caption .calculate {
        margin-left: 0;
    }
    .differences .differences-video-block .description {
        max-width: initial;
    }
    .calculator .calculator-results .multimodal-result {
        margin-bottom: 50px;
        text-align: center;
    }
    .calculator .calculator-results .multimodal-result:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 650px) {
    .numbers-block .numbers-list > li .caption {
        padding: 35px 28px 20px 38px;
        font-size: 1.1em;
    }
    .calculator .calculator-results {
        font-size: 2.2em;
    }
}

@media screen and (max-width: 600px){
    /*modal*/
    .calculator-modal-auth-btn{
        display: block;
        text-align: center;
    }
    .calculator .calculator-results .btn{
            display: block;
    margin-bottom: 20px;
    width: 100%;
    }
    /*END:modal*/
    .calculator .section-title{
        font-size: 32px;
    }
    .calculator .intro{
        font-size: 17px;
    }
    .calculator .tabs .section-title,
    .calculator .shipping > .title
    {
        font-size: 18px;
    }
    #nav-desktop .desktop .btn{
        width: 100%;
    }
    .nav-desktop .logo-bar,
    #nav-desktop .desktop .loging-bar
    {
        float: none;
    }
    #nav-desktop .desktop .loging-bar{
        margin-bottom: 22px;
    }
    #nav-desktop .desktop .logo-bar .logo{
        float: none;
        text-align: left;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 550px) {
    .wrapper.ru .intro-section .caption {
        padding-top: 32px;
    }
    .intro-section .caption .calculate {
        font-size: 1.1em;
    }
    #block_2 .ui-selectmenu-button span.ui-selectmenu-text {
      width: 400px;
    }
}

@media screen and (max-width: 500px) {
  #block_2 .ui-selectmenu-button span.ui-selectmenu-text {
    width: 300px;
  }
  #header > .myContainer > .left-block > .logo-wrap,
  #footer > .myContainer > .left-block > .logo-wrap {
      text-align: center;
  }
  .left-block .main-logo {
      float: none;
      max-width: 60%;
      margin: 2px auto;
  }
  .left-block .site-title {
      font-size: 16px;
      padding-left: 0;
  }
  .left-block .site-title:after {
      display: none;
  }
  .intro-section .caption .intro-title strong {
      font-size: 28px;
  }
  .intro-section .caption .intro-title {
      margin-bottom: 25px;
  }
  #header .phone-block,
  #footer .address,
  #header .feedback-block,
  #footer .phone-block {
      margin-right: 0;
  }
  .wrapper.en .numbers-block .numbers-list > li .caption {
      padding: 30px 20px;
      min-height: initial;
  }
  .intro-section .caption .calculate {
      font-size: 0.8em;
      padding: 10px;
  }
  .intro-section {
      min-height: 210px;
      background-position: 34% 95%;
  }
  .intro-section .caption {
      padding-top: 40px;
  }
  .numbers-block .numbers-list > li .sup-text {
      top: -60px;
  }
  main .google-map {
      margin-bottom: 35px;
  }
}

@media screen and (max-width: 400px) {
  #block_2 .ui-selectmenu-button span.ui-selectmenu-text {
    width: 200px;
  }
}

/*RESPONSIVE*/


/*newAcex*/

.header-holder .header-inner-main .main-nav ul {
    margin-bottom: 0;
}

.header-holder .header-inner-main .main-nav li.logged-out > a{
   padding: 39px 12px;
}

.header-holder .header-inner-left .site-title {
    margin-top: 0;
}

.header-holder .header-inner-styler .jq-selectbox .jq-selectbox__select,
.header-holder .header-inner-styler .jq-selectbox .jq-selectbox__dropdown ul li {
    cursor: pointer;
}

.header-holder .header-inner-styler .jq-selectbox .jq-selectbox__dropdown ul li {
    text-align: center;
}

.header-holder .header-inner-main .main-nav li a {
    line-height: 15px;
}

.header-holder .header-inner-styler .jq-selectbox .jq-selectbox__select {
    text-align: center;
    padding: 0;
    font-size: 1.3em;
}

.footer-main .box li a:before {
    width: 8%;
    display: inline-block;
}

@media screen and (max-width: 480px) {
    .footer .fa-twitter {
        padding-right: 14px;
    }
}

.auth-page .admin-wrapper{
    margin-top: 0;
}

.btn-danger.delete-item-position {
    background-color: firebrick;
    margin-bottom: 10px;
    /*float: right;*/
}
#quantitiesSelection-button{
    max-width: 94px !important;
    padding: 4px 2px;
    /* display: inline-table; */
    vertical-align: bottom;
}
.space{
    display: inline-block;
    width: 16px;
}
/* Активные кнопки в футере */

.footer-main .footer-buttons {
    border-bottom: 1px solid #282727;
    width: 100%;
    padding: 92px 0 40px;
}

.footer-main .footer-buttons .ln {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
}

.footer-main .footer-buttons .ln .logo {
    font-family: 'Helvetica';
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 0;
    text-align: left;
}

.footer-main .footer-buttons .ln li {
    width: auto;
    white-space: nowrap;
}

.footer-main .ln li a {
    padding: 10px 0;
}

.footer-main .footer-buttons .ln .btn {
    font-weight: 600;
    padding: 11px 20px;
    border: 2px solid #2B8F70;
    outline: 0;
    position: relative;
}
.footer-main .footer-buttons .ln .btn-lg {
     width: auto;
     font-size: 15px;
     line-height: 1.75;
     padding-top: 8px;
     padding-bottom: 8px;
 }
.footer-main .footer-buttons .ln .btn-white {
    background-color: #FFF;
    border-color: #FFF;
    color: #000;
}
.footer-main .footer-buttons .ln .btn-dark {
    background-color: transparent;
    border-width: 2px;
    border-color: #FFF;
    color: #FFF;
}

.footer-main .footer-buttons .ln .btn.btn-lg:hover {
    border-color: #E5E5E4;
    background-color: #E5E5E4;
    color: #000;
}

.footer-main .footer-buttons .ln .flex-ln-1 {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
}

.footer-main .footer-buttons .ln .flex-ln-2 {
    // flex-basis: 25%;
}

.footer-main .footer-buttons .ln .flex-ln-3 {
    // flex-basis: 25%;
}

.footer-nav-menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 0;
    border-bottom: 1px solid #282727;
}

.footer-nav-menu .ln-column {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
}

.footer-nav-menu .ln-column li {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
}

.footer-nav-menu .ln-column-social li a {
    font-size: 12px;
}

.footer-main .ln li {
    width: auto;
}

.footer-main .lang-row {
    padding: 18px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-nav-menu .ln-column .fa:before {
    padding: 0 10px;
}

@media screen and (max-width: 1100px) {
  #responseDialog {
    padding-left: 20px;
    padding-right: 20px;
  }

  #responseDialog .myContainer {
    max-width: 960px;
    width: 100%;
  }
}

@media screen and (max-width: 1002px) {
  #outer-services-controls > .outer-servisec-filtration-select__wrapp >
  span.ui-selectmenu-button > span.ui-selectmenu-text {
    line-height: 0.8;
  }

  .calculator-results .results-list .multimodal-result {
    margin-bottom: 5px !important;
  }
}

@media screen and (max-width: 852px) {
  .calculator-results .results-list .multimodal-result span.result-type {
    margin-bottom: 0;
  }

  .calculator-results .results-list .multimodal-result span.result-val {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 920px) {
  .table-outer-services {
    overflow-x: scroll;
  }

  .table-outer-services .out-services-results-header,
  .table-outer-services #outer-services {
    width: 800px;
  }

  .calculator-results span.term-delivery span.service-value {
    padding-right: 20px;
  }

  .calculator-results span.term-delivery .btn {
    width: 50%;
  }

}


@media screen and (max-width: 837px) {
  .outer-services-controls .result-search {
    float: left;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 925px) {
  #outer-services-controls > div.result-search {
    float: left;
    margin: 0;
    width: 100%;
  }

  #outer-services-controls > div.result-search > input[type="text"] {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .calculator .calculator-results div.btn-container .btn {
    margin-bottom: 0;
  }

  #outer-services span.term-delivery {
    vertical-align: middle;
  }

  #outer-services span.term-delivery button.btn {
    float: right;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 660px) {
  .outer-servisec-item-count__wrapp {
    clear: both;
    width: 50%;
  }

  #outer-services-controls .export-btn {
    width: 100%;
  }

  #outer-servisec-filtration-select-menu {
    max-width: initial;
  }

  #outer-services-controls .export-btn #getEcelBtn,
  #outer-services-controls .export-btn #printBtn {
    width: 45%;
  }

  #outer-services-controls .export-btn #printBtn {
    float: right;
  }

  .outer-servisec-item-count__wrapp {
    margin-right: 0;
    width: 100%;
  }

  .outer-servisec-item-count__wrapp #outer-servisec-item-count-button {
    width: 65% !important;
    height: 50%;
    line-height: 2;
  }

  .outer-servisec-item-count__wrapp #outer-servisec-item-count-button .ui-selectmenu-text {
    line-height: 2.5;
  }

  .outer-servisec-filtration-select__wrapp {
    width: 100%;
    height: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .outer-servisec-filtration-select__wrapp #outer-servisec-filtration-select-button {
    width: 100% !important;
    height: 50px;
  }

  .outer-servisec-filtration-select__wrapp #outer-servisec-filtration-select-button .ui-selectmenu-text {
    height: 50px;
    line-height: 2 !important;
  }

}

@media screen and (max-width: 500px) {
    .sign-in-block {
      justify-content: center;
    }

    .sigh-in-block__element {
      min-width: 300px;
      padding-right: 0;
      padding-bottom: 30px;
    }

    .sigh-in-block__element > h2:before {
      content: none;
    }
}


/*END:newAcex*/

.table>tbody>tr.city-name>td>h5 {
    margin-top: 0;
    margin-bottom: 0;
}

/*END:newAcex*/
