.admin-wrapper {
    margin-top: 0;
}

.offers-page-title {
    margin-bottom: 12px;
}

.offer-container {
    margin-bottom: 25px;
    padding-bottom: 40px;
}

.offer-container .offer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    border: 1px solid #cac2c2;
    border-radius: 10px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.offer-container .offer .block {
    width: 20%;
    padding: 20px 2%;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -moz-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.offer-container .offer .left-block {
    margin-right: 0;
    border-right: 1px solid #cac2c2;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fffdf9;
}

.offer-container .offer .block .title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
    color: #bf0043;
}

.offer-container .offer .block .offer-response {
    line-height: 27px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgba(210, 210, 210, 0.5);
    border-radius: 4px;
    background-color: #fff8f4;
}

.admin-wrapper .offer-searchblock {
    margin-bottom: 25px;
}

.admin-wrapper .offer-checkbox-block {
    margin-bottom: 25px;
}

.admin-wrapper .offer-checkbox-block input[type="checkbox"] {
    display: none;
}

.admin-wrapper .offer-checkbox-block .offer-checkbox-label {
    display: inline-block;
}

.admin-wrapper .offer-checkbox-block .offer-checkbox-label:first-child {
    margin-right: 10px;
}

.main-container {
    margin-bottom: 50px;
}


/*END:offers*/
