.btn-round {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-left: 10px;
}

form fieldset > fieldset {
    border: 1px solid #eee;
    padding: 20px 10px;
    margin-bottom: 5px;
}

.extra-charge-submit-wrapper {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding-top: 20px;
}

.extra-charge-remove, .fieldset-remove {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 3px;
    font-size: 0.7em;
}

.extra-charge-remove span {
    line-height: 0;
}