.user-profile-company-userlist .glyphicon {
    border: none;
}

.btn-glyphicon {
    margin-right: 4px;
    padding: 8px;
    background: #fff;
}

.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius: 50px;
}
