
ul.list-unstyled li {
    padding: 15px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

ul.list-unstyled li.bg-success {
    border: 1px solid #c2e2b6;
}

ul.list-unstyled li.bg-danger {
    border: 1px solid #e9c8c8;
}

ul.list-unstyled li.bg-info {
    border: 1px solid #c0e1f2;
}

ul.list-unstyled li span:first-child {
    margin-right: 5px;
}

.document-remove-button:hover {
    cursor: pointer;
}

.transport-type {
    text-align: center;
}

.transport-type label {
    background-color: #FFFAF0;
    background-size: 65%;
    height: 100px;
    width: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    display: inline-block;
    padding: 0;
    margin: 0 2%;
    cursor: pointer;
}

.transport-type label:hover {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    opacity: .8;
}

.transport-type .transport-type-disabled {
    cursor: not-allowed;
    background-color: #f2f2f2;
}

.transport-type .transport-type-disabled:hover {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .8;
}

.transport-type .checked {
    background-color: #62BBB5;
}

.transport-type label input {
    display: none;
}

#ocean, #break-bulk {
    background-image: url('../../../../img/shipping-icons/ocean.png');
    background-position: center;
    background-repeat: no-repeat;
}

#rail {
    /*background: inherit url('../../../../img/shipping-icons/rail.png') center no-repeat;*/
    background-image: url('../../../../img/shipping-icons/rail.png');
    background-position: center;
    background-repeat: no-repeat;
}

#truck {
    /*background: inherit url('../../../../img/shipping-icons/truck.png') center no-repeat;*/
    background-image: url('../../img/shipping-icons/truck.png');
    background-position: center;
    background-repeat: no-repeat;
}

#air {
    /*background: inherit url('../../../../img/shipping-icons/air.png') center no-repeat;*/
    background-image: url('../../../img/shipping-icons/air.png');
    background-position: center;
    background-repeat: no-repeat;
}
.tmp-upload-holder {
    width: 50px;
    height: 50px;
}

.temp-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.image-logo-heading {
    position: relative;
}

.close-logo-image {
    position: absolute;
    top: -15px;
    right: -10px;
}
