<div ng-repeat="(arrKey, skype) in skEd.skypeList" class="edit-profile-assets-list" novalidate>
    <div class="input-group">
        <input type="text" ng-model="skype.skype" class="form-control" required pattern="^[a-zA-Z][a-zA-Z0-9-_]{4,}$" ng-class="{'ng-invalid': !skype.isValid}">
        <div class="input-group-btn">
            <button class="btn btn-success" ng-click="skEd.save(skype, arrKey)">Save</button>
            <button class="btn btn-danger" ng-click="skEd.del(skype, arrKey)">Delete</button>
        </div>
    </div>
    <div ng-hide="skype.isValid">
        <div class="alert alert-danger"><strong>Error: {{skype.validationFormServerMsg}}</strong></div>
    </div>
</div>
<form name="skEd.addNewSkype" class="edit-profile-assets-form" novalidate>
    <div class="input-group">
        <input type="text" name="newSkype" class="form-control" ng-model="skEd.newSkype" required pattern="^[a-zA-Z][a-zA-Z0-9-_]{4,}$" ng-trim="true">
        <div class="input-group-btn">
            <button class="assetsBtn-addNew btn btn-space btn-primary" ng-click="skEd.addNew()">Add</button>
        </div>
        <div ng-show="emEd.addNewSkype.newSkype.$error.validationFormServer">
            <div>Error: {{skEd.validationFormServerMsg}}</div>
        </div>
    </div>
</form>
