<form name="phEd.phoneListForm">
    <div class="edit-profile-assets-list phone-form" ng-repeat="(arrKey, phone) in phEd.phoneList" novalidate>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="phone" required ng-intl-tel-input ng-class="{'ng-invalid': !phone.isValid}">
            <div class="input-group-btn">
                <button class="save btn btn-success" ng-click="phEd.savePhone(phone)">Save</button>
                <button class="btn btn-danger" ng-click="phEd.delPhone(phone)">Delete</button>
            </div>
        </div>
        <div ng-hide="phone.isValid">
            <div class="alert alert-danger"><strong>Error: {{phone.validationFormServerMsg + ' ' + phone.isValid}}</strong></div>
        </div>
    </div>
</form>
<form name="phEd.addNewPhoneForm" ng-submit="phEd.addNew()" novalidate>
    <div class="input-group">
        <input type="text" name="phoneInfo" class="form-control" ng-model="phEd.newPhone" required ng-intl-tel-input data-preferred-countries="ua, ru">
        <div class="input-group-btn">
            <input type="submit" class="assetsBtn-addNew btn btn-primary" id="add" value="Add" />
        </div>
    </div>
    <div ng-show="emEd.addNewPhoneForm.phoneInfo.$error.validationFormServer">
        <div class="alert alert-danger"><strong>Error: {{phEd.validationFormServerMsg}}</strong></div>
    </div>
</form>
