@CHARSET 'UTF-8';
.cabinet-fragment {
    display: block;
    /*text-align :center;*/
}
.ng-valid {
    border-color: #62BBB5;
}
.ng-invalid.ng-dirty {
    border-color: #f00;
}
.user-profile-menu {
    margin-top: 17px;
    text-align: center;
}
.user-profile-menu .item {
    display: inline-block;
}

.user-profile-menu .item {
    padding: 5px 6px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px;
}
.user-profile-menu .item:hover {
    color: #000;
    background-color: rgba(255,255,255, 0.6);
}
.user-profile-menu .item.active {
    color: #000;
    background-color: #fff;
}
h4 {
    margin: 0;
}
.profile-item {
    margin-top: 10px;
}

.panel-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.profile-photo {
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-right: 20px;
    vertical-align: middle;
}
.clickable:hover {
    cursor: pointer;
}

form {
    /*margin: 50px auto;*/
}
.file-upload {
    margin-bottom: 15px;
}
.temp-image {
    height: 50px;
}
/*arthur*/
.profile-imgblock {
    position: relative;
    display: inline-block;
}
.profile-imgblock .profile-img-delete-btn {
    position: absolute;
    top: -5px;
    right: -9px;
    display: inline-block;
    padding: 0;
    text-align: center;
}
.profile-imageicon {
    top: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 22px;
    padding: 1px 5px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #fff;
    border-radius: 50%;
    outline: none;
    background-color: #ccc;
}

.profile-imageicon:hover {
    background: #b92c28;
}
#tmp-upload .tmp-upload-holder {
    position: relative;
    display: inline-block;
}

/*addon*/
.main-userprofile-title {
    margin-bottom: 35px;
}

.admin-user-mainsearch {
    margin-bottom: 35px;
}

/*edit-profile*/
.edit-profile-assets-list {
    margin-bottom: 25px;
}

.user-profile-edit-wrapper .backToProfile {
    display: block;
    margin-bottom: 45px;
}

/*cabinet-fragment*/

/*.cabinet-fragment.user-phones .input-group {
    margin-bottom: 25px;
}*/

.cabinet-fragment .assetsBtn-addNew {
    padding: 6px 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 0 !important;
}

.cabinet-fragment.user-phones .intl-tel-input {
    display: table-cell;
}

.cabinet-fragment.user-phones .intl-tel-input input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cabinet-fragment .flag-container{
    z-index: 101;
    outline: none;
}

.user-profile-edit-wrapper .panel {
    margin-bottom: 35px;
}

.user-profile-edit-wrapper .panel .alert {
    margin-top: 20px;
}

.user-profile-edit-wrapper .panel-heading .panel-heading-title {
    margin-top: 0;
    margin-bottom: 0;
}

.user-profile-edit-wrapper .panel-body {
    padding: 40px 25px;
}

.user-profile-edit-wrapper .profile-imgblock {
    margin-bottom: 35px;
}
/*END:cabinet-fragment*/
/*END:edit-profile*/
/*company-request*/
.company-request-rowblock {
    margin-bottom: 55px;
    padding-bottom: 15px;
}

.company-request-rowblock .panel-body.panel-body-first {
    padding: 26px 2px;
}
/*END:company-request*/
.profileContactsList .company-status {
    margin-bottom: 15px;
}

.profileContactsList .company-status a{
    text-decoration: none;
}

.spoiler-table .spoiler-title {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
}
.spoiler-table .spoiler-title.opened span {
    transform: rotate(180deg);
}

.user-profile-extend-block-btn {
    display: block;
    width: 100%;
    text-align: left;
}

.user-profile-extend-denied {
    display: block;
    width: 100%;
    margin-bottom: 0px;
    padding-left: 3px;
    text-align: left;
}

.user-profile-quantity-list {
    padding-left: 0;
    list-style: none;
}

/*END:addon*/
