.map-wrapper{
	display: none;
	width: 100%;
}
.info-window {
	height: 100%;
	overflow:hidden;
}
.info-window ul{
	margin-bottom: 7px;
}
.controller {
	width:100%;	
	background-color: #62BBB5;
	padding:10px 15px;
}
.options-controller {
	list-style-type: none;
	float: right;
	margin-bottom: 0px;
	color: #fff;
}
.options-controller li:first-child{
	margin-bottom:5px;
}
.options-controller li input{
	margin-top:2px;
}
.options-controller li label{
	vertical-align:top;
}
#googleMap {
	 width: 100%;
	 height: 600px;
}
.map-search{
	float:left;
}
.map-search label{
	display:block;
	color:#fff;
}