@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.28571;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}


/* remember to define focus styles! */

:focus {
    outline: 0;
}


/* remember to highlight inserts somehow! */

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}


/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #747474;
    background: #fff;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #747474;
}

h1,
.h1 {
    font-size: 63px;
}

h2,
.h2 {
    font-size: 42px;
}

h3,
.h3 {
    font-size: 26px;
}

h4,
.h4 {
    font-size: 24px;
}

h5,
.h5 {
    font-size: 22px;
}

h6,
.h6 {
    font-size: 15px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.center-block {
    display: block;
    margin: 0 auto;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}


/*!
 *  Font Awesome 4.6.1 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */


/* FONT PATH
 * -------------------------- */

@font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/fontawesome-webfont.eot?v=4.6.1");
    src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.1") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.6.1") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.6.1") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.6.1") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon.eot?7n5en3");
    src: url("../fonts/icomoon.eot?7n5en3#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?7n5en3") format("truetype"), url("../fonts/icomoon.woff?7n5en3") format("woff"), url("../fonts/icomoon.svg?7n5en3#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.header-holder .header-inner-main .main-nav li:first-child a{
        padding: 34px 12px;
}
.fa-facebook:before {
    content: "";
}

.fa-twitter:before {
    content: "";
}

.fa-angle-down:before {
    content: "";
}

.fa-linkedin:before {
    content: "";
}
.fa-instagram:before{
    content: "";
}

.header {
    position: relative;
}

.header-holder {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
         flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
         align-items: center;
    position: relative;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
         justify-content: space-between;
}

.header-holder .header-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
         flex-direction: column;
}

.header-holder .header-inner-left {
    // width: 11%;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    /*margin-left: 46px;*/
}

/*EXCHANGE START ====================*/

.main-basis-exchange {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.flex-basis-exchange {
    
}

.exchange-sidebar-filter {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 20%;
       -moz-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
}

.exchange-results {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 75%;
       -moz-box-flex: 1;
        -ms-flex: 1 1 75%;
            flex: 1 1 75%;   
}

/* tabs start ============*/

.ui-widget-header {
    border: 0;
    background: transparent;
}

.ui-widget-content {
    border: none;
    background: transparent;
}

.ui-state-default a,
.ui-state-default a:link, 
.ui-state-default a:visited {
    color: #fff;
    background: #62bbb5;
    font: 15px "Helvetica Neue", sans-serif;
    -webkit-border-radius: 2px 2px 0 0;
       -moz-border-radius: 2px 2px 0 0;
            border-radius: 2px 2px 0 0;
}

.ui-state-active a, 
.ui-state-active a:link, 
.ui-state-active a:visited {
    color: #333;
    background: #fbe5d6;
    font: 15px "Helvetica Neue", sans-serif;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
    border: none;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background: transparent;
}

.ui-tabs-panel p {
    font: 18px "Helvetica", sans-serif;
    color: #333;
    padding: 0;
}

.ui-tabs .ui-tabs-panel {
    padding: 0;
}
/* tabs end   ============*/

.select-block {
    display: block;
    background: #62bbb5;
    padding: 10px;
    -webkit-border-radius: 3px 3px 0 0;
       -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
}

.select-block-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.ui-widget-content .ui-selectmenu-button {
    margin-right: 10px;
    background: #fff;
    width: 150px !important;
    font: 15px "Helvetica", sans-serif;
    color: #333;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #ADADAD;
    -webkit-box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
       -moz-box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
            box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* table style start =======*/

.main-table {
    text-align: left;
    table-layout: fixed;
}

.main-table .estimated-cost, 
.main-table .origin,
.main-table .destination,
.main-table .order-date {
    width: 19%;
}

.main-table .shipment {
    width: 20%;
    text-align: left;
}

.main-table .view {
    width: 10%;
}

.main-table__title td, .main-table__header td {
    vertical-align: middle;
    padding: 10px;
}

.main-table__header {
    font: 10px "CantarellBold", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #747474;
    text-align: left;
    background-color: rgb(231, 231, 231);
}

.main-table__header i {
    background:  url(../../img/jquery-ui/ui-icons_ef8c08_256x240.png);
    background-position: -133px -21px;
    width: 16px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
}

.main-table__header th span {
    cursor: pointer;
}

.main-table__header th:first-child span {
    cursor: context-menu;
}

.main-table__title {
    font: 14px "Cantarell-Regular", sans-serif;
    color: #333;
    border-bottom: 1px solid #ADADAD;
}

.main-table__title:last-child {
    border-bottom: none;
}

.main-table__title .td-height {
    min-height: 95px;
}

.main-table tbody tr:nth-child(even) {
    background-color: rgba(221, 221, 221, 0.18);
}

.main-table__title a {
    display: block;
    margin: 0 auto;
}

.image-heading {
    display: inline-block;
    vertical-align: middle;
}

.image-heading a {
    width: 50px;
    height: 50px;
    display: block;
    background: #ccc;
}

.image-heading img {
    width: 100%;
    display: block;
}

.info-heading {
    display: inline-block;
    vertical-align: middle;
}

.info-heading span {
    display: block;
    font-size: 12px;
}


/* table style end   =======*/

/* Sidebar style start =====*/

.categories {
   padding: 10px;
}

.categories-select label {
    vertical-align: middle;
    display: table;
}

.categories-select {
    display: block;  
    height: 240px;
    overflow: hidden;
}

.categories .show-more {
    padding: 10px 0;
    display: block;
    cursor: pointer;
    text-transform: lowercase;
    font-weight: 400;
    color: #747474;
    font-size: 14px;
    text-decoration: underline;
}

.categories .categories-select span {
    display: table-cell;
}

.categories .show-more:hover {
    color: #62bbb5;
}

.show-all-categories {
    height: 100%;
    overflow: hidden;
    display: block;
}

.tab-field {
    display: block;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.categories-select input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    width: 14px;
}
.categories-select input {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #ADADAD;
    margin-bottom: 10px;
    -webkit-box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
       -moz-box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
            box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
    padding: 10px 8px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: table-cell;
}

.select-locality {
    padding: 10px;
}

.select-locality h3 {
    display: inline-block;
}


.select-locality .ui-selectmenu-button {
    margin-right: 10px;
    background: #fff;
    width: 150px !important;
    font: 15px "Helvetica", sans-serif;
    color: #333;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #ADADAD;
    -webkit-box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
       -moz-box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
            box-shadow: inset 0 5px 5px rgba(234, 234, 234, 0.75);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
}

/* Sidebar style end =======*/

/*Pagination style start ===*/

.pagination-block {
    width: 100%;
    display: block;
    padding: 30px 0;
}

.pagination {
    display: block;
    text-align: center;
    margin: 10px 0;
}

.pagination li {
    display: inline-block;
    padding: 0 10px;
}

.pagination li a {
    font: 14px "RobotoRegular", sans-serif;
    color: #333;
    text-align: center;
}

/*Pagination style end   ===*/















/*EXCHANGE END ======================*/

@media screen and (max-width: 760px) {
    .header-holder .header-inner-left {
        width: 25%;
    }
}

@media screen and (max-width: 480px) {
    .header-holder .header-inner-left {
        width: 36%;
    }
}

.header-holder .header-inner-left .logo {
    font-family: 'Helvetica';
    font-size: 36px;
    font-weight: 600;
    width: 100%;
    color: #62BBB5;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
         flex-direction: column;
    text-transform: uppercase;
    ;
}

.header-holder .header-inner-left .logo img {
    width: 100%;
    padding: 34px 12px 12px 0;
}

@media screen and (max-width: 760px) {
    .header-holder .header-inner-left .logo img {
        padding: 15px 12px 12px 0;
    }
}

@media screen and (max-width: 480px) {
    .header-holder .header-inner-left .logo img {
        padding: 9px 12px 12px 0;
    }
}

.logo-bar .logo img {
    max-width: 35%;
    padding: 0px 12px 12px 0;
}

@media screen and (max-width: 768px) {
    .logo-bar .logo img {
        max-width: 65%;
    }
}

@media screen and (max-width: 640px) {
    .logo-bar .logo img {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .logo-bar .logo img {
        max-width: 65%;
    }
}

.header-holder .header-inner-main .main-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
         flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header-holder .header-inner-main .main-nav li {
    border-top: 3px solid transparent;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.header-holder .header-inner-main .main-nav li:after {
    content: "";
    position: absolute;
    top: -3px;
    -webkit-transition: top 270ms ease-in-out;
    -o-transition: top 270ms ease-in-out;
    -moz-transition: top 270ms ease-in-out;
    transition: top 270ms ease-in-out;
    height: 4px;
    background-color: #62BBB5;
    left: 0;
    right: 0;
    width: 100%;
}

@media screen and (max-width: 1070px) {
    .header-holder .header-inner-main .main-nav li:after {
        top: -10px;
    }
}

.header-holder .header-inner-main .main-nav li:hover:after {
    top: 0px;
}

@media screen and (max-width: 1070px) {
    .header-holder .header-inner-main .main-nav li:hover:after {
        top: -3px;
    }
}

@media screen and (max-width: 1060px) {
    .header-holder .header-inner-main .main-nav li {
        padding: 0;
    }
}

.header-holder .header-inner-main .main-nav li:hover a,
.header-holder .header-inner-main .main-nav li.active a {
    color: #62BBB5;
}

.header-holder .header-inner-main .main-nav li a {
    padding: 39px 12px;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: #484c55;
}

.header-holder .header-inner-main .main-nav li a:hover {
    text-decoration: none;
    color: #62BBB5;
}

@media screen and (min-width: 1171px) {
    .header-holder .header-inner-main .main-nav li a {
        font-size: 17px;
    }
}

@media screen and (max-width: 1070px) {
    .header-holder .header-inner-main .main-nav li a {
        font-size: 13px;
        padding: 39px 2px;
    }
}

@media screen and (max-width: 960px) {
    .header-holder .header-inner-main {
        display: none;
    }
}

.header-holder .header-inner-styler {
    width: 8%;
    margin-right: 20px;
}

@media screen and (max-width: 760px) {
    .header-holder .header-inner-styler {
        /*display: none;*/
    }
}

.header-holder .header-inner-styler .jq-selectbox {
    background: #fff;
    color: #747474;
    padding: 9px 10px 5px 0;
    font-weight: 700;
    font-size: 12px;
    height: 35px;
    width: 100px;
    top: 3px;
    left: 3px;
}

#select-styler:hover .jq-selectbox__dropdown {
    display: block !important;
}

@media screen and (max-width: 1060px) {
    .header-holder .header-inner-styler .jq-selectbox {
        font-size: 10px;
        width: 80px;
    }
}

.header-holder .header-inner-styler .jq-selectbox select {
    height: auto !important;
    display: none;
}

.header-holder .header-inner-styler .jq-selectbox .jq-selectbox__select {
    font-weight: 400;
    color: #B61C3C;
}

.header-holder .header-inner-styler .jq-selectbox .jq-selectbox__trigger:before {
    content: "\f107";
    font-family: 'FontAwesome';
    color: #747474;
    position: absolute;
    top: 0;
    right: -10px;
}

.header-holder .header-inner-styler .jq-selectbox .jq-selectbox__dropdown {
    right: -8px;
    width: 100%;
}

.header-holder .header-inner-styler .jq-selectbox .jq-selectbox__dropdown ul {
    background: #fff;
    color: #747474;
    padding-top: 12px;
}

.header-holder .header-inner-styler .jq-selectbox .jq-selectbox__dropdown ul li {
    padding: 12px 5px 9px 0;
    border-bottom: 1px solid #ccc;
    font-weight: 400;
}

.header-holder .header-inner-styler .jq-selectbox .jq-selectbox__dropdown ul li:hover {
    color: #B61C3C;
}

.header-holder .header-inner-styler .btn {
    width: 14%;
}

.btn {
    position: relative;
    padding: 17px 40px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #62BBB5;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
    text-decoration: none;
    background: #fbe5d6;
    color: #62BBB5;
}

@media screen and (max-width: 768px) {
    .btn {
        font-size: 21px;
    }
}

@media screen and (max-width: 480px) {
    .btn {
        padding: 10px 20px;
    }
}

.btn-dark {
    border: 2px solid #fff;
    background: #000;
    color: #fff;
}

.btn-dark:hover,
.btn-dark:focus {
    color: #fff;
    background: #000;
}

.btn-white {
    border: 2px solid #fff;
    background: #fff;
    color: #000;
}

.btn-white:hover,
.btn-white:focus {
    background: #fff;
    color: #000;
}

.btn-lg {
    font-size: 15px;
    padding: 20px 15px;
    font-weight: 400;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    width: 71%;
    text-transform: uppercase;
        // padding: 8px 40px 8px 20px;
}

@media screen and (max-width: 768px) {
    .btn-lg {
        font-size: 11px;
        padding: 12px 0px;
        width: 100%;
    }
}

.btn-md {
    font-size: 13px;
    padding: 10px;
}

@media screen and (max-width: 480px) {
    .btn-md {
        font-size: 9px;
    }
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    /*padding: 0 20px 0 60px;*/
    padding: 0 40px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
}

.footer {
    background: #000;
}

.header {
    position: relative;
}

.header .maska.opened {
    background: rgba(0, 0, 0, 0.5);
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 199;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

#nav-trigger {
    background: rgba(0, 0, 0, 0.7);
    display: block;
    position: fixed;
    overflow: hidden;
    margin-top: 27px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    cursor: pointer;
    top: 0%;
    left: 0%;
    border: none;
    background: transparent;
    z-index: 2000;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

@media screen and (max-width: 480px) {
    #nav-trigger {
        margin-top: 10px;
    }
}

#nav-trigger.opened {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
         transform: rotate(360deg);
}

#nav-trigger span {
    width: 20px;
    height: 2px;
    background: #62BBB5;
    position: absolute;
    top: 19px;
    left: 10px;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    -moz-transition: background .3s linear;
    transition: background .3s linear;
}

#nav-trigger span:after,
#nav-trigger span:before {
    content: '';
    width: 100%;
    height: 2px;
    background: #62BBB5;
    position: absolute;
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
      -o-transform: translateY(-6px);
         transform: translateY(-6px);
    left: 0;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

#nav-trigger span:before {
    -ms-transform: translateY(6px);
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
      -o-transform: translateY(6px);
         transform: translateY(6px);
}

#nav-trigger.opened span {
    background: transparent;
}

#nav-trigger.opened span:after {
    background: #fff;
    -webkit-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
      -o-transform: translateY(0px) rotate(45deg);
         transform: translateY(0px) rotate(45deg);
}

#nav-trigger.opened span:before {
    background: #fff;
    -webkit-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    -moz-transform: translateY(0px) rotate(-45deg);
      -o-transform: translateY(0px) rotate(-45deg);
         transform: translateY(0px) rotate(-45deg);
}

#nav-desktop {
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    left: -40%;
    position: fixed;
    top: 0;
    width: 40%;
    overflow: auto;
    z-index: 1000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
         backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
         perspective: 1000;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
      -o-transform: translate(0px, 0px);
         transform: translate(0px, 0px);
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    transition: all 0.8s ease;
    padding: 30px 60px;
}

#nav-desktop .desktop {
    padding-left: 145px;
    margin-left: -webkit-calc(50vw - 780px);
    margin-left: -moz-calc(50vw - 780px);
    margin-left: calc(50vw - 780px);
}

#nav-desktop .desktop .logo-bar .logo {
    float: left;
    display: block;
    font-family: 'Helvetica';
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 45px;
    color: #fff;
}

#nav-desktop .desktop .loging-bar {
    float: right;
}

#nav-desktop .desktop .loging-bar .login-link {
    display: inline-block;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#nav-desktop .desktop .loging-bar .login-link:hover {
    color: #C6C6C6;
}

#nav-desktop .desktop .loging-bar .login-link .text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

#nav-desktop .desktop .loging-bar .icon-wrap {
    display: inline-block;
    padding: 10px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #494949;
    margin-right: 6px;
    vertical-align: middle;
}

#nav-desktop .desktop .loging-bar .icon {
    width: 17px;
    height: 17px;
}

#nav-desktop .desktop .desktop-nav {
    clear: both;
}

@media screen and (max-width: 480px) {
    #nav-desktop {
        width: 92%;
        left: -92%;
    }
}

#nav-desktop .desktop-nav li a {
    font-family: 'Helvetica';
    color: #fff;
    display: inline-block;
    padding: 9px 0;
    line-height: 28px;
}

#nav-desktop .desktop-nav li a:hover,
#nav-desktop .desktop-nav li.active a {
    color: #e6e6e6;
}

#nav-desktop .desktop .btn {
    margin: 20px 0;
    width: 92%;
    font-weight: 600;
}

#nav-desktop .desktop .btn:hover {
    color: #000;
    background-color: #E5E5E4;
}

#nav-desktop.opened {
    -webkit-transform: translate(100%, 0px);
    -ms-transform: translate(100%, 0px);
    -moz-transform: translate(100%, 0px);
      -o-transform: translate(100%, 0px);
         transform: translate(100%, 0px);
}

.footer-main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 18px 0 0 0;
    padding-bottom: 50px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer-main .box {
    width: 25%;
    margin: 20px 0;
}

.footer-main .box h6 {
    font-weight: 600;
    color: #747474;
}

.footer-main .box li {
    margin: 8px 0;
}

.footer-main .box li a {
    color: #747474;
    display: block;
}

.footer-main li:hover a,
.footer-main li.active a {
    color: #e6e6e6;
}

.footer-main .box li a:before {
    padding-right: 7px;
}

@media screen and (max-width: 768px) {
    .footer-main .box {
        width: 34%;
    }
}

@media screen and (max-width: 480px) {
    .footer-main .box {
        width: 100%;
        text-align: center;
    }
}

.footer-main .ln {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
}

.footer-main .ln li {
    width: 13%;
    text-align: center;
}

.footer-main .ln li a {
    color: #747474;
    padding: 10px;
    display: block;
}

.footer-main .ln li:hover a,
.footer-main .ln li.active a {
    color: #e6e6e6;
}

@media screen and (max-width: 480px) {
    .footer-main .ln li {
        width: 50%;
        text-align: center;
    }
}

.footer-svg {
    background: #fff;
}

.footer-svg svg {
    margin-bottom: -10px;
    width: 100%;
    height: auto;
}

.footer-svg .illustration-tertiary-fill {
    fill: #1A3177;
}

.footer-svg .illustration-primary-fill {
    fill: #89DAC1 !important;
}

.footer-svg .illustration-secondary-fill {
    fill: #5879DA !important;
}

.footer-svg .illustration-tertiary-fill {
    fill: #1A3177;
}

.footer-svg .illustration-primary-stroke {
    stroke: #89DAC1 !important;
    fill: none;
}

.footer-svg .illustration-secondary-stroke {
    stroke: #5879DA !important;
    fill: none;
}

.footer-svg .illustration-tertiary-stroke {
    stroke: #1A3177 !important;
    fill: none;
}

.footer-svg .pattern-stroke {
    stroke: #62CEAD !important;
    stroke-width: 1.25;
    fill: none;
}

.main-basis {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 100px 0;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
         align-items: center;
    padding-bottom: 80px;
    /*border-bottom: 1px solid #62BBB5;*/
}

@media screen and (max-width: 760px) {
    .main-basis {
        margin: 70px 0;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 480px) {
    .main-basis {
        margin: 50px 0;
        padding-bottom: 40px;
    }
}

.main-basis-left {
    width: 30%;
}

@media screen and (max-width: 760px) {
    .main-basis-left .logo {
        display: inline-block;
        width: 70%;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .main-basis-left .logo {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .main-basis-left {
        width: 100%;
        margin-bottom: 34px;
    }
}

@media screen and (max-width: 760px) {
    .logo-bar .logo {
        display: inline-block;
        /*width: 70%;*/
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .logo-bar .logo {
        width: 100%;
        text-align: left;
    }
}

.main-basis-right {
    width: 70%;
}

.main-basis-sign-in {
    width: 100%;
}

.main-basis-right .h2 {
    margin: 50px 0;
    color: #62BBB5;
}

@media screen and (max-width: 760px) {
    .main-basis-right .h2 {
        margin: 30px 0;
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    .main-basis-right .h2 {
        margin: 20px 0;
        font-size: 31px;
    }
}

.main-basis-right p {
    font-size: 20px;
}

@media screen and (max-width: 760px) {
    .main-basis-right p {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .main-basis-right p {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .main-basis-right {
        width: 100%;
        text-align: center;
    }
}

html,
body {
    height: 100%;
}

.main {
    min-height: 100%;
    margin-bottom: -142px;
}

html .main {
    height: 100%;
}

.main:after {
    content: "";
    display: block;
    height: 142px;
}

@media screen and (max-width: 960px){
    #header{
        padding: 35px 0;
    }
    #nav-desktop{
        width: 100%;
        left: -100%;
    }
    #nav-desktop .desktop{
        padding-left: 0;
        margin-left: 0;
    }
    #nav-desktop .desktop .btn{
        display: block;
        width: 50%;
        padding: 15px 25px;
    }
    .header-holder .header-inner-left{
        margin-left: 50px;
    }
    #nav-trigger{
        left: 30px;
        margin-top: 31px;
    }
    #nav-trigger.opened{
        left: 10px;
        margin-top: 27px;
    }
    .header-holder {
        display: block;
    }
    .header-holder:after{
        display: block;
        content: '';
        clear: both;
    }
    .header-holder .header-inner-left ,
    .header-holder .header-inner-styler{
        float: left;
        width: auto;
    }
    .header-holder .btn{
        float: right;
    }
}

@media screen and (max-width: 768px){
    #nav-trigger {
        left: 12px;
    }
}

@media screen and (max-width: 600px){
    .header-holder .btn{
        display: none;
    }
}


