<?php
$this->headLink()->appendStylesheet($this->basePath('css/form_contact.css'));
/** @var \ZfcUserMod\Form\Register $form */
$form = $this->form;

?>
<div class="main-basis main-basis-partner">
    <div class="main-basis-right">

        <div class="header-holder header-holder-partner">
            <div class="header-inner header-inner-left header-inner-partner">
                <a class="logo" href="<?php echo $this->url('localization', ['lang' => $this->lang()]); ?>">
                    Acex
                </a>
            </div>
        </div>

        <h1><strong>ACEX24</strong> <?php echo $this->translate('нуждается в таких партнерах, как вы.'); ?></h1>
        <p>
            <?php echo $this->translate(
                'Станьте партнером ACEX24 и зарабатывайте хорошие деньги в качестве независимого подрядчика.'
            ); ?>
        </p>
    </div>
    <?php if (!$this->zfcUserIdentity()) : ?>
        <div class="main-basis-left">
            <a class="btn btn-lg btn-dark btn-account" href="<?php echo $this->url('zfcuser/login-partner'); ?>">
                <?php echo $this->translate('Уже есть аккаунт?'); ?>
            </a>
            <?php $form->prepare(); ?>
            <div class="form-holder form-holder-partner">
                <h3><?php echo $this->translate('Создать новый аккаунт'); ?></h3>
                <?php echo $this->form()->openTag($form); ?>
                <?php echo $this->formRow($form->get('account_type')); ?>
                <div class="form-group">
                    <?php
                    $email = $form->get('email');
                    $email->setLabel('');
                    $email->setAttribute('placeholder', 'Email');
                    echo $this->formRow($email);
                    ?>
                </div>
                <div class="form-group">
                    <?php
                    $password = $form->get('password');
                    $password->setLabel('');
                    $password->setAttribute('placeholder', 'Пароль');
                    echo $this->formRow($password);
                    ?>
                </div>
                <div class="form-group">
                    <?php
                    $passwordVerify = $form->get('passwordVerify');
                    $passwordVerify->setLabel('');
                    $passwordVerify->setAttribute('placeholder', 'Подтверждение пароля');
                    echo $this->formRow($passwordVerify);
                    ?>
                </div>
                <div class="input-group">
                    <?php
                    $submit = $form->get('submit');
                    $submit->setLabel('Отправить');
                    echo $this->formRow($submit);
                    ?>
                </div>

                <p>
                    <?php echo $this->translate(
                        'Продолжая, я соглашаюсь с тем, что компания ACEX или ее представители
                    могут связаться со мной при помощи эл. почты, телефона 
                    или СМС (включая автоматические средства), воспользовавшись указанными 
                    мной эл. адресом или номером телефона, в том числе в маркетинговых целях. 
                    Я подтверждаю, что прочитал(а) и понял(а) соответствующее '
                    ); ?>
                    <a href="<?php echo $this->url('localization/privacy', [
                        'lang' => $this->lang(),
                    ]); ?>">
                        <?php echo $this->translate('Заявление о конфиденциальности компании-партнера ACEX'); ?>
                    </a>.
                </p>
                <?php echo $this->form()->closeTag(); ?>
            </div>
        </div>
    <?php endif; ?>
</div>

