<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<?php
$this->headLink()
    ->appendStylesheet($this->basePath('/css/form_contact.css'));
?>
<div class="main-basis">

    <div class="contacts-wrapper"> <!-- class="main-basis-right" -->

        <h2 class="h2"><?php echo $this->translate('Контакты'); ?></h2>

        <p><?php echo $this->translate('Здесь ACEX24 было бы интересно узнать, что выхотите сказать. Напишите нам пару строк или скажите привет'); ?></p>

        <p class="form-title"><?php echo $this->translate('Связаться с нами'); ?></p>
        
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>

        <div class="form-holder">
            <div class="form-group">
                <div class="input-title">
                    <label for="usr"><?php echo $this->translate('Имя'); ?>:</label>
                </div>
                <?php echo $this->formRow($form->get('name')) ?>
            </div>
            <div class="form-group">
                <div class="input-title">
                    <label for="usr">Email:</label>
                </div>
                <?php echo $this->formElement($form->get('email')) ?>
            </div>
            <div class="form-group">
                <div class="input-title">
                    <label for="usr"><?php echo $this->translate('Тема'); ?>:</label>
                </div>
                <?php echo $this->formElement($form->get('subject')) ?>
            </div>
            <div class="form-group">
                <div class="input-title">
                    <label for="usr"><?php echo $this->translate('Комментарий'); ?>:</label>
                </div>
                <?php echo $this->formElement($form->get('comment')) ?>
            </div>
            <div class="input-group"> 
                <span class="input-group-btn">
                    <?php echo $this->formElement($form->get('button')) ?>
                </span>
            </div>
        </div>
        <?php echo $this->form()->closeTag() ?>

        <!-- flashMessenger -->
        <div class="error">
            <?php $this->getNotificationHelper(); ?>
        </div>
        <!-- #flashMessenger -->
    </div>
</div>

<script>
    $(function () {
        var form = $('#contact');
        form.validate();
        $('.input-group-btn button').on('click', function () {
            if (!form.valid()) {
                return false;
            }
            $(this).css({
                'background-color': '#fbe5d6',
                'border-color': '#fbe5d6',
                'color': '#000'
            }).text('<?= $this->translate('Идет отправка...'); ?>');
        });
    });
</script>