
<div class="main-basis">

    <div class="main-basis-right">
    	<h2 class="h2"><?php echo $this->translate("Ведомость индустрии")?></h2>
    	
    	<p><?php echo $this->translate('Экспедиторские компании'); ?></p>
    	<p><?php echo $this->translate('Транспортные агенты NVOCC'); ?></p>
    	<p><?php echo $this->translate('Топ Логистичеких компаний'); ?></p>
    	<p><?php echo $this->translate('Транспортные агенты VOCC'); ?></p>
    	<p><?php echo $this->translate('Перевозчики'); ?></p>
    	<p><?php echo $this->translate('Авиа компании'); ?></p>
    	
    </div>
	
</div>
