
<div class="main-basis">

    <div class="main-basis-right">
    	<h2 class="h2"> <?php echo $this->translate('ACEX24 политика конфиденциальности')?></h2>

        <p><?php echo $this->translate("ACEX24 серьезен в частном характере\nперсональной информации, такой как имя,\nадрес, телефон, электронная почта,\nполученной или предоставленной\nпосетителями (\"Гость\", \"Вы\", \"Ваш\" или\n\"Пользователь\") нашему веб-сайту\nwww.acex24.net (\"Веб-сайт\"). Эта политика\nконфиденциальности описывает пути\nпредоставления Вами Нам Вашей\nперсональной информации, виды личной\nинформации, которые Мы собираем, и как\nACEX трактует информацию, которую Мы\nсобираем, когда Вы посещаете Веб-сайт и/или\nрегистрируетесь как Пользователь.");
    	?></p>
    	
    	<p><?php echo $this->translate("Предоставляя ACEX24 любую информацию, Вы\nсоглашаетесь с использованием нами\nинформации, изложенной в настоящей\nПолитике Конфиденциальности. Если Вы не\nсогласны с условиями ниже, пожалуйста, не\nпредоставляйте Нам эту информацию");
    	?></p>
		<h2>1. <?php echo $this->translate('Сбор персональной информации');
		?></h2>
		<p><?php echo $this->translate("Персональная информация относится к любой\nинформации в отношении одного из\nидентифицируемой личности. Эта информация\nможет быть получена через этот Веб-\nсайт,www.acex24.net, или одним из наших веб-\nсайтов, соответственно:")?></p>
		<p><u><?php echo $this->translate('Запрос торговой стоимости');
		?></u></p>
		<p><?php echo $this->translate("Чтобы разместить Вас с Вашим запросом\nторговой стоимости, предоставить Вам\nдополнительные услуги, а также отправлять\nинформацию об услугах ACEX24 в Вашем\nместоположении, мы можем запросить Ваше\nимя, географические координаты, номер\nтелефона и другую личную информацию,\nкоторую Вы прямо не предоставляете.");
		?></p>
		<p><u><?php echo $this->translate('Связаться с Нами');
		?></u></p>
		<p><?php echo $this->translate("Вы должны написать Нам электронное письмо\nчерез \"Связаться с Нами\" на нашем Веб-сайте.\nМы запросим Вашу контактную информацию,\nчтобы ответить на Ваш запрос или\nкомментарий.");
		?></p>
		<p><u><?php echo $this->translate('Уведомления по электронной почте');?></u></p>
		<p><?php echo $this->translate("Если Вы захотите получать Анонсы Веб-сайта,\nПресс-релизы, Презентации, Службу\nуведомлений или другие уведомления по\nэлектронной почте, Мы запросим Выше имя и\nэлектронную почту, чтобы предоставить Вам\nэти уведомления.");
		?></p>
		<p><u><?php echo $this->translate('Другое');?></u></p>
		<p><?php echo $this->translate("Также могут быть и другие места на нашем\nВеб-сайте, где Мы можем запросить Вашу\nличную информацю. Мы будем запрашивать\nличную информацию только когда это\nдействительно необходимо");
		?></p>
		<h2><?php echo $this->translate('2. Неличная информация о нашем Веб-сайте');?></h2>
		<p><?php echo $this->translate("ACEX24 может получить определенную\nкомплексную информацию, даже известную как\nдемографические сведения и данные профиля\nс нашего Веб-сайта. Эта информация помогает\nнам в сборе сведений, таких как количество\nПосетителей нашего Веб-сайта и количества\nпросмотренных ими страниц.");
		?></p>
		<p><?php echo $this->translate("Мы также можем использовать эти сведения,\nчтобы улучшить наш Сайт и/или применить\nВаш опыт на нашем Сайте, показав Ваше\nсодержимое, в котором Мы можем быть\nзаинтересованы, и отображая содержимое, в\nкотором Вы можете быть заинтересованы. Мы\nполучим эти данные через технологии \"Cookie\".");
		?></p>
		<p><u><?php echo $this->translate('Cookie');?></u></p>
		<p><?php echo $this->translate("Как большинство Веб-сайтов, ACEX24\nпользуется сервером “cookies”. Cookie - это\nмаленький текстовой документ, который часто\nвключает анонимный уникальный\nидентификатор. Когда Вы посещаете веб-сайт,\nкомпьютер сайта запрашивает Ваш компьютер\nразрешение сохранить этот файл в части\nВашего жесткого диска, который специально\nпредназначен для cookies. Каждый веб-сайт\nможет послать собственный cookie Вашему\nбраузеру, если предпочтения Вашего браузера\nпозволяют сделать это, но (чтобы защитить\nВашу приватность) Ваш браузер позволяет\nвеб-сайту открыть доступ к cookies, которые он\nуже Вам посылал, а не те cookies,\nотправленные Вам другими сайтами. Вы\nможете управлять или отключить cookies\nинструментами Вашего браузера");
		?></p>
		<p><?php echo $this->translate("Как только Вы загрузите Наш Веб-сайт, он\nиспользует cookies, чтобы отличить Вас от\nдругих пользователей, чтобы уберечь Вас от\nпросмотра ненужной рекламы или требуя,\nчтобы Вы зарегистрировались там, где не\nнужно. Cookies, в сочетании с нашими лог\nфайлами веб-сервера, позволяют Нам\nвычислить суммарное количество людей,\nпосещающих наш Веб-сайт и проследить, какие\nего части являются самыми популярными. Это\nпомогает Нам собрать обратную связь, чтобы\nпостоянно улучшать наш Веб-сайт и лучше\nобслуживать наших клиентов. ACEX никогда не\nиспользует cookies для получения информации\nс компьютера, которая не связана с нашим\nСайтом или услугами.");
		?></p>
		<p><?php echo $this->translate("Мы можем поделиться этой информацией с\nдругими, такими, как рекламодатели, которые\nзаинтересованы в размещении рекламы на\nнашем Сайте, в анонимной форме, что\nозначает, что информация не будет содержать\nкаких-либо персональных данных о Вас.");
		?></p>
		<h2><?php echo $this->translate('3. Использование информации');?></h2>
		<p><?php echo $this->translate("В дополнении к сбору личной и неличной\nинформации, ACEX24 может собирать\nнеличную, сводную информацию об\nиспользовании данного Веб-сайта. Эта\nинформация не является личной и будет\nиспользоваться только для поиска того, как\nзарегистрированные Пользователи используют\nнаш сервис и Веб-сайт. Например, эта\nинформация будет говорить Нам сколько\nвремени проводит Пользователь на сайте, что\nнаходят для себя Пользователи на сайте, и на\nкаких сайтах находятся наши пользователи. Сбор\nподобной информации позволит Нам, среди\nвсего прочего, подготовиться к требованиям\nнагрузки трафика и эффективной доставки\nнаших продуктов и услуг.");
		?></p>
		<h2><?php echo $this->translate('4. Раскрытие личной информации');?></h2>
		<p><?php echo $this->translate("ACEX24 никогда не продаст, не сдаст, не\nподелится, не обменяет Вашу личную\nинформацию без Вашего согласия, за\nисключением случаев, изложенных в данном\nдокументе.");
		?></p>
		<p><u><?php echo $this->translate('Соглашение Услуг Сервиса');?></u></p>
		<p><?php echo $this->translate("Мы можем передать (или иным способом\nраспространить) Вашу персональную\nинформацию нашим филиалам и другим\nтретьим лицам, которые предоставляют услуги\nот нашего имени. Ваша персональная\nинформация может быть сохранена и\nобработана нашими филиалами и другими\nпоставщиками услуг третьей стороны.");
		?></p>
		<p><?php echo $this->translate("Нашим поставщикам услуг предоставляется\nинформация, которая необходима им для\nвыполнения поставленных перед ними задач, и\nмы не разрешаем им раскрывать личную\nинформацию для их собственного продвижения\nили других целей.");
		?></p>
		<p><u><?php echo $this->translate("Правовые вопросы, соблюдение и\nпредотвращение потерь");?></u></p>
		<p><?php echo $this->translate("ACEX24, его филиалы и другие поставщики\nуслуг могут предоставить Вашу персональную\nинформацию в ответ на действительный\nюридически законный запрос, применимый к\nзаконодательству Российской Федерации. Мы\nтакже можем раскрыть личную информацию,\nкогда это необходимо для создания,\nосуществления или защиты правовых\nпритязаний, чтобы исследовать или\nпредотвратить фактическую или\nпредполагаемую потерю или вред людям или\nсобственности, или другому, допускаемое\nзаконом.");
		?></p>
		<h2><?php echo $this->translate('5. Обзор и Доступ к Вашей личной Информации');?></h2>
		<p><?php echo $this->translate("У Вас есть право на доступ, обновление или\nисправление неточностей в Вашей личной\nинформации под нашим заключением и\nконтролем, с учетом некоторых исключений,\nустановленных законом. Вы можете запросить\nдоступ, связавшись с нами, используя\nконтактную информацию ниже.");
		?></p>
		<h2><?php echo $this->translate('6. Выбор/Отказ');?></h2>
		<p><?php echo $this->translate("Если Мы присылаем Вам электронные письма\nс информацией о новых продуктах или услугах,\nВы сможете отказаться от будущих\nуведомлений.");
		?></p>
		<h2><?php echo $this->translate('7. Ссылки на другие сайты');
		?></h2>
		<p><?php echo $this->translate("В рамках сервиса, ACEX24 может создать\nсвязи, позволяющие Вам получать доступ к\nсторонним веб-сайтам. ACEX24 не несет\nответственности за содержимое, которое\nпоявится на этих сайтах и не потверждает эти\nсайты. Пожалуйста, обратитесь к политике\nконфиденциальности этих сайтов, чтобы\nопределить, как относиться к пользовательской\nинформации.");
		?></p>
		<h2><?php echo $this->translate('8. Безопасность');?></h2>
		<p><?php echo $this->translate("Вся информация, описанная выше хранится на\nограниченных серверах баз данных. Тем не\nменее, Вы не должны предоставлять\nконфиденциальную информацию на этом Веб-\nсайте. Мы поддерживаем разумные\nтехнические, физические и административные\nмеры предосторожности, чтобы помочь\nзащитить личную информацию.");
		?></p>
		<h2><?php echo $this->translate('9. Детская конфиденциальность');
		?></h2>
		<p><?php echo $this->translate("ACEX24 не предоставляет информацию\nнесовершеннолетним и не принимает\nинформацию от несовершеннолетних детей.\nЕсли Вы обнаружили, что Вы ошибочно\nполучили информацию от\nнесовершеннолетнего ребенка, Мы будем\nнемедленно прилагать все усилия, чтобы\nудалить информацию из наших записей");
		?></p>
		<h2><?php echo $this->translate('10. Модификация данной Политики'); ?></h2>
		<p><?php echo $this->translate("ACEX24 может изменить эту политику\nконфиденциальности в любое время без\nпредварительного уведомления, разместив\nобновленную политику конфиденциальности на\nэтом Сайте с указанием даты последнего\nобновления.");
		?></p>
		<!--h2><?= $this->translate('11. Связаться с нами');?></h2>
		<p><?= $this->translate("Если у Вас есть какие-либо вопросы или\nкомментарии об этой Политике\nКонфиденциальности, или нашем Веб-сайте в\nобщем, пожалуйста, свяжитесь с нами по:");
		?></p>
		
		<p>ACEX24</p>
		<p><?= $this->translate("Химки, 141400, Московская область, Россия"); ?></p>
		<p><?= $this->translate('Телефон:'); ?></p>
		<p>8-800-777-2239</p>
		<p>Email:</p>
		<p>contact@acex24.net</p -->
    </div>
</div>