

<?php
    $this->headScript()->appendFile($this->basePath('js/gmap/markerclusterer.js'));
    //key=AIzaSyBOEqQQo6Lxf4dBFzONGLkf5d9BDc4Sx_Y
    $this->headScript()->appendFile('http://maps.googleapis.com/maps/api/js?key=AIzaSyBOEqQQo6Lxf4dBFzONGLkf5d9BDc4Sx_Y&language='.$this->lang().'&callback=initialize', null, array('async' => true, 'defer' => true));
    $this->headScript()->appendFile($this->basePath('js/jquery.magnific-popup.js'));
    
    $this->headLink()->appendStylesheet($this->basePath('css/magnific-popup.css'));
    $this->headLink()->appendStylesheet($this->basePath('css/haz-table.css'));
    $this->headLink()->appendStylesheet($this->basePath('css/gmap/gmap.css'));
?>

<style>
.button{
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    border: none;
    margin: 0;
    cursor: pointer;
    overflow: visible;
    padding: 16px 23px;
    margin-bottom: 15px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #62BBB5;
    border: 1px solid #62BBB5;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-image: none !important;
}
#ui-id-1{
	max-width: 200px;
	overflow: hidden;
}
</style>
<div class="main-basis">
	
	<h2 class="h2"><?php echo $this->translate("Resources and Tools")?></h2>

	<p><?= $this->translate('Welcome to our Resources and Tools Page. Here we try to provide you information that you may search for on the web as part of your daily routine, in one easy to find place. This includes Research and Statistics links, Associations and Trade Group Links, and Various Calculators.'); ?></p>
	<p><?= $this->translate('If you don’t find what you are looking for, drop us a line in the feedback tab and we will work quickly to have whatever you need at your disposal, as soon as possible.'); ?></p>
    <div class="hazardous-btn-block">
        <button class='button' id="haz-table-toggle">Hazardous Materials Table</button>
    	<button class='button' id="map-toggle">World Seaport and Airport Locator</button>
    </div>
    
    <!-- Таблица опасных материалов -->
    <div class='hazardous-materials-wrapper'>
        <h2 class="hazardous-table-title">Hazardous Materials Table</h2>
        <div class='hazardous-materials-widget'>
            <div class='hazardous-sign sign1' id="sign1" data-index="0">
                <img alt="Explosive" src="<?= $this->basePath('img/hazardous/1-explosive.png'); ?>" />
            </div>
            <div class='hazardous-sign sign2' data-index="1">
                <img alt="Non-flamable gas" src="<?= $this->basePath('img/hazardous/2-non-flamable-gas.png'); ?>" />
            </div>
            <div class='hazardous-sign sign3' data-index="2">
                <img alt="Flammable liquid" src="<?= $this->basePath('img/hazardous/3-flammable-liquids.png'); ?>" />
            </div>
            <div class='hazardous-sign sign4' data-index="3">
                <img alt="Flammable solids" src="<?= $this->basePath('img/hazardous/4-flammable-solids.png'); ?>" />
            </div>
            <div class='hazardous-sign sign5' data-index="4">
                <img alt="Oxidizer" src="<?= $this->basePath('img/hazardous/5-oxidizer.png'); ?>" />
            </div>
            <div class='hazardous-sign sign6' data-index="5">
                <img alt="Poison" src="<?= $this->basePath('img/hazardous/6-poison.png'); ?>" />
            </div>
            <div class='hazardous-sign sign7' data-index="6">
                <img alt="Radioactive" src="<?= $this->basePath('img/hazardous/7-radioactive.png'); ?>" />
            </div>
            <div class='hazardous-sign sign8' data-index="7">
                <img alt="Corrosive" src="<?= $this->basePath('img/hazardous/8-corrosive.png'); ?>" />
            </div>
            <div class='hazardous-sign sign9' data-index="8">
                <img alt="Other dangerous goods" src="<?= $this->basePath('img/hazardous/9-other.png'); ?>" />
            </div>
        </div>
        <div id="definitions" class="hidden">
            <div class="hazmatDef mfp-hide" id="class1">
                <div class="hazardous-hidden-imbglbock">
                    <img alt="Explosive" src="<?= $this->basePath('img/hazardous/1-explosive-small.png'); ?>" />
                </div>
                <div class="hazmat-titleblock">
                    <h3 class="hazmat_title">Class 1: Explosives</h3>
                    <h4 class="hazmat_subtitle">Subdivisions</h4>
                </div>
                <ul class="subdivisions">
                    <li>1.1. Mass explosion hazard</li>
                    <li>1.2. Severe projection hazard</li>
                    <li>1.3. Fire, blast, or projection hazard but no mass explosion hazard</li>
                    <li>1.4. Minor fire or projection hazard</li>
                    <li>1.5. Very insensitive explosives; mass explosion hazard but little probability of detonation</li>
                    <li>1.6. Extremely insensitive explosives; no mass explosion hazard and negligible probability of accidental detonation</li>
                </ul>
                <h4 class="hazmat_subtitle">Definition:</h4> 
                Materials or devices that can ignite or blow up due to a chemical reaction.
                <div class="hazmat_subtitle">Why Regulated:</div> Potential to cause immense damage through force, and produce hazardous amounts of heat, light, sound, gas, and/or smoke.
                <p>Common Examples: <i>Ammunition/cartridges, Fireworks/pyrotechnics, Drilling and mining equipment, Power rivets, Flares, Air bag inflators, Fuses and detonating cords, Igniters.</i></p>
            </div>
            <div class="hazmatDef" id="class2">
                <div class="hazmat_title"><img alt="Non-flamable gas" src="<?= $this->basePath('img/hazardous/2-non-flamable-gas-small.png'); ?>" />Class 2: Gases</div>
                <div class="hazmat_subtitle">Subdivisions</div>
                <ul class="subdivisions">
                    <li>2.1. Flammable</li>
                    <li>2.2. Non-flammable, non-toxic</li>
                    <li>2.3. Toxic</li>
                </ul>
                <p></p>
                <div class="hazmat_subtitle">Definition:</div> Compressed, liquefied, or dissolved gases, ie substances with a vapor pressure of 300 kPa or greater at 50℃, or those which are completely gaseous at 20℃ at standard pressure. The class also includes items containing such gases.
                <p></p>
                <p></p>
                <div class="hazmat_subtitle">Why Regulated:</div> Flammable, toxic, potential as asphyxiant, ability to oxidize, and corrosive.
                <p></p>
                <p>Common Examples: <i>Aerosols,Fire extinguishers, Air conditioning and refrigeration equipment, Gas cylinders, Lighters, Spray cans, Auto parts.</i></p>
            </div>
            <div class="hazmatDef" id="class3">
                <div class="hazmat_title"><img alt="Flammable liquid" src="<?= $this->basePath('img/hazardous/3-flammable-liquids-small.png'); ?>" />Class 3: Flammable Liquids</div>
                <p></p>
                <div class="hazmat_subtitle">Definition:</div> Liquids, mixtures of liquid, or liquids containing a solid in solution that give off a flammable vapor (has a flash point) of no more than 60-65℃. This includes liquids sent for transport at temperatures at or above their flash point.
                <p></p>
                <p></p>
                <div class="hazmat_subtitle">Why Regulated:</div> Volatile, combustible, and potential to cause severe fires.
                <p></p>
                <p>Common Examples: <i>Cosmetics, Paints/lacquers/varnishes, Alcohols, Perfume, Gasoline/Petrol/fuels, Gas/shale/heating oils, Pesticides.</i></p>
            </div>
            <div class="hazmatDef" id="class4">
                <div class="hazardous-hidden-imbglbock">
                    <img alt="Oxidizer" src="<?= $this->basePath('img/hazardous/5-oxidizer-small.png'); ?>" />
                </div>
                <div class="hazmat_title">Class 4: Flammable Solids</div>
                <div class="hazmat_subtitle">Subdivisions</div>
                <ul class="subdivisions">
                    <li>4.1. Flammable solids</li>
                    <li>4.2. Spontaneously combustible materials</li>
                    <li>4.3. Dangerous-when-wet materials (ie emit flammable gases when wet)</li>
                </ul>
                <p></p>
                <div class="hazmat_subtitle">Definition:</div> Solid materials that can heat up or easily combust under typical transport circumstances or when in contact with air or water, can cause fire through friction, self-reactive substances, or solid desensitized explosives.
                <p></p>
                <p></p>
                <div class="hazmat_subtitle">Why Regulated:</div> Volatile, combustible, and potential to cause severe fires.
                <p></p>
                <p>Common Examples: <i>Sodium batteries, Firelighters, Matches, Desensitized explosives, Oily fabrics, Fibers, and waste, Alkali metals, Metal powders.</i></p>
            </div>
            <div class="hazmatDef" id="class5">
                <div class="hazmat_title"><img alt="Poison" src="<?= $this->basePath('img/hazardous/6-poison-small.png'); ?>" />Class 5: Oxidizers and Organic Peroxides</div>
                <div class="hazmat_subtitle">Subdivisions</div>
                <ul class="subdivisions">
                    <li>5.1. Oxidizing agents</li>
                    <li>5.2. Organic peroxides, liquid or solid</li>
                </ul>
                <p></p>
                <div class="hazmat_subtitle">Definition:</div> Chemicals that give off oxygen in chemical reactions, subsequently causing combustion.
                <p></p>
                <p></p>
                <div class="hazmat_subtitle">Why Regulated:</div> Potential to cause combustion of other materials. Organic peroxides specifically are thermally unstable, and can react dangerously with other substances.
                <p></p>
                <p>Common Examples: <i>Fertilizers, Laundry supplies, Chlorinated pool chemicals, Chlorates, Nitrates, Nitrites, Hydrogen peroxide.</i></p>
            </div>
            <div class="hazmatDef" id="class6">
                <div class="hazmat_title"><img alt="Radioactive" src="<?= $this->basePath('img/hazardous/7-radioactive-small.png'); ?>" />Class 6: Toxic Materials and Infectious Substances</div>
                <div class="hazmat_subtitle">Subdivisions</div>
                <ul class="subdivisions">
                    <li>6.1. Poisonous materials</li>
                    <li>6.2. Biohazardous substances</li>
                </ul>
                <p></p>
                <div class="hazmat_subtitle">Definition:</div> Materials other than gases that can cause death, injury, or harm to human health. Includes substances that contain pathogens like bacteria, viruses, and other disease-carrying microorganisms.
                <p></p>
                <p></p>
                <div class="hazmat_subtitle">Why Regulated:</div> Can pose significant risks to human and animal health.
                <p></p>
                <p>Common Examples: <i>Biological/medical cultures/samples/specimens/waste, Photographic supplies, Dyes, Pesticides, Acids, Arsenics, Lead, Mercury, Chloroform, Tear gas substances, Venom.</i></p>
            </div>
            <div class="hazmatDef" id="class7">
                <div class="hazmat_title"><img alt="Radioactive" src="<?= $this->basePath('img/hazardous/7-radioactive-small.png'); ?>" />Class 7: Radioactive Materials</div>
                <p></p>
                <div class="hazmat_subtitle">Definition:</div> Materials that emit radiation or are subject to radioactive decay.
                <p></p>
                <p></p>
                <div class="hazmat_subtitle">Why Regulated:</div> Can pose significant risks to human and animal health.
                <p></p>
                <p>Common Examples: <i>Radioactive ores, Medical supplies, Pharmaceuticals, Density gauges, Surface contaminated object, Depleted uranium/depleted uranium products, Radionuclides/isotopes.</i></p>
            </div>
            <div class="hazmatDef" id="class8">
                <div class="hazmat_title"><img alt="Corrosive" src="<?= $this->basePath('img/hazardous/8-corrosive-small.png'); ?>" />Class 8: Corrosive Substances</div>
                <p></p>
                <div class="hazmat_subtitle">Definition:</div> Substances that decompose or disintegrate other materials upon contact.
                <p></p>
                <p></p>
                <div class="hazmat_subtitle">Why Regulated:</div> Can cause severe damage to living tissue or, if leaked, on surrounding materials.
                <p></p>
                <p>Common Examples: <i>Acids/acid solutions, Batteries, Battery fluid, Fuel cell cartridges, Fire extinguisher charges, FormaldehydeHydrochloric acid</i></p>
            </div>
            <div class="hazmatDef" id="class9">
                <div class="hazmat_title"><img alt="Other dangerous goods" src="<?= $this->basePath('img/hazardous/9-other-small.png'); ?>" />Class 9: Miscellaneous Dangerous Goods</div>
                <p></p>
                <div class="hazmat_subtitle">Definition:</div> Materials that present a danger or hazard not covered by a different class. Includes, but is not limited to: environmentally hazardous materials, materials shipped at high temperatures, materials with anesthetic or noxious properties, and more.
                <p></p>
                <p></p>
                <div class="hazmat_subtitle">Why Regulated:</div> Various hazards to human health and safety, infrastructure, and transport carrier.
                <p></p>
                <p>Common Examples: <i>Lithium ion/lithium metal batteries, Battery powered equipment and vehicles, Dry ice/cardice/solid carbon dioxide, Chemical kits/first aid kits, Life saving appliances, Air bag modules, Seatbelt pretensioners, Fuel cell engines/internal combustion engines, Vehicles, Magnetized material, Genetically modified organisms/micro-organisms.</i></p>
            </div>
        </div>
    </div>
    <!-- Карта с метками -->
    <div class="map-wrapper">
        <h2 class="hazardous-table-title">World Seaport and Airport Locator</h2>
        
        <div class="controller clearfix">
             <div class="map-search">
                <label>Поиск</label>
                <input type="search" id="search">
            </div>
            <ul class="options-controller">
                <li>
                    <input id="seaports" type="checkbox" checked />
                    <label for="seaports"><?= $this->translate('Морские Порты')?></label>
                </li>
                <li>
                    <input id="airports" type="checkbox" checked />
                    <label for="airports"><?= $this->translate('Аэропорты')?></label>
                </li>
            </ul>
        </div>
        <div id="googleMap"></div>
	</div>
</div>
<script type="text/javascript">
    var showSeaPorts = document.getElementById('seaports');
    var showAirPorts = document.getElementById('airports');

    var seaPortMarkersData = JSON.parse('<?=$this->seaPortMarkersJson; ?>');

    var seaPorts = seaPortMarkersData.map(function(item){
        return {
            label:     item.label,
            latitude:  item.latitude,
            longitude: item.longitude
        };
    });

    var airPortMarkersData = JSON.parse('<?=$this->airPortMarkersJson; ?>');

    var airPorts = airPortMarkersData.map(function(item){
        return {
            iata:	   item.iata,
            iso:	   item.iso,
            name:      item.name,
            city:      item.city,
            latitude:  item.latitude,
            longitude: item.longitude
        };
    });
    //проверяем, что показывать
    // 		var showSeaPorts = document.getElementById('seaports').checked;
    // 		var showAirPorts = document.getElementById('airports').checked;

    var currentInfoWindow = null;
    var filtrationTerm = '';
    var optionsMap = ["seaports", "airports"];
    var map;
    function initialize() {
        var  styles = [{ "featureType": "administrative", "elementType": "labels.text.fill", "stylers": [{ "color": "#444444" }] },
            { "featureType": "landscape", "elementType": "all", "stylers": [{ "color": "#FAFAD2" }]},
            { "featureType": "poi", "elementType": "all", "stylers": [{ "visibility": "off" }] },
            { "featureType": "road", "elementType": "all", "stylers": [{ "saturation": -100 }, { "lightness": "-11" }, { "visibility": "off" }] },
            { "featureType": "road.highway", "elementType": "all", "stylers": [{ "hue": "#00d0ff" }, {"saturation": "16"}, { "lightness": "48" }, { "gamma": "0.90" }, { "weight": "1.21" }, { "visibility": "simplified" }] },
            { "featureType": "road.arterial", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] },
            { "featureType": "transit", "elementType": "all", "stylers":[{ "visibility": "off" }] },
            { "featureType": "water", "elementType": "all", "stylers":[{ "color": "#D3D3D3" }, { "visibility": "on" }] }];

        map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 5,
            center: new google.maps.LatLng(49.996657, 36.236163),
            zoomControl:true,
            streetViewControl:false,
            mapTypeControl:false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        map.setOptions({styles: styles});

        renderMarkers(map);
    }

    //         google.maps.event.addDomListener(window, 'load', initialize);

    function searchLocations() {
        var address = document.getElementById("addressInput").value;
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({address: address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                searchLocationsNear(results[0].geometry.location);
            } else {
                alert(address + ' not found');
            }
        });
    }

    function addMarker(map, type, port){
        /*определяем иконку маркера*/
        switch (type){
            case 'air':
                var icon = "<?= $this->basePath('img/gmap/airport-32.png'); ?>";
                break;
            case 'sea':
                var icon = "<?= $this->basePath('img/gmap/seaport-32.png'); ?>";
                break;
        }

        var title = (port.label) ? port.label : port.name+', '+port.city;
        var label = (port.label) ? port.label : port.name+' - '+port.iata;
        var location = (port.iso) ? port.city+', '+port.iso : null;
        var locationHtml = (location) ? '<li>Location: '+location+'</li>' : '';

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(port.latitude, port.longitude),
            icon: icon,
            title: title
        });
        //прикрепляем инфовиндоу к каждому маркеру
        google.maps.event.addListener(marker, 'click', function() {
            if (currentInfoWindow != null) {
                currentInfoWindow.close();
            }
            var infowindow = new google.maps.InfoWindow({
                content: '<div class="info-window">'+
                '<h4>'+label+'</h4>'+
                '<ul style="marker: none">'+
                locationHtml+
                '<li>Latitude: '+port.latitude+'</li>'+
                '<li>Longitude: '+port.longitude+'</li>'+
                '</ul>'+
                '<div style="margin-bottom: 5px"><a href ="<?= $this->url('localization', array('lang' => $this->lang())); ?>">'+
                '<?= $this->translate("Перейти в калькулятор"); ?></a></div>'+
                '<div>'
            });
            infowindow.open(map, marker);
            currentInfoWindow = infowindow;
        });
        return marker;
    }

    function renderMarkers(map){
        var markers = [];

        //маркеры морских портов
        if(optionsMap.indexOf('seaports') !== -1){
            markersFilter(seaPorts)
                .forEach(function(seaport){
                seaPortMarker = addMarker(map, 'sea', seaport);
                markers.push(seaPortMarker);
            });
        }
        //маркеры аэропортов
        if(optionsMap.indexOf('airports') !== -1){
            markersFilter(airPorts).forEach(function(airport){
                airPortMarker = addMarker(map, 'air', airport);
                markers.push(airPortMarker);
            });
        }

        var options = {
            imagePath: '/img/gmap/m'
        };

        var markerCluster = new MarkerClusterer(map, markers, options);
    }

    function markersFilter(items){
        if(!filtrationTerm){
            return items;
        }
        return items.filter(function(item){
            if(item.label){
                return item.label.toLowerCase().indexOf(filtrationTerm) !== -1;
            }else{
                if(item.iata.toLowerCase() === filtrationTerm){
                    return true;
                }
                if(item.name.toLowerCase() === filtrationTerm){
                    return true;
                }
                if(item.city.toLowerCase() === filtrationTerm){
                    return true;
                }
            }
            return false;
        });
    }

    $(function(){
        //кнопки
        var init = false;
        $("#haz-table-toggle").on('click', function(){
            $(".hazardous-materials-wrapper").slideToggle();
        });
        $("#map-toggle").on('click', function(){
            $(".map-wrapper").slideToggle();
            if(!init){
                initialize();
            }
            init = true;
        });

        $(".options-controller").on('change', 'input[type="checkbox"]', function(e){
            optionsMap = [];
            var checked = $('.options-controller input[type="checkbox"]').each(function(){
                if($(this).is(":checked")){
                    optionsMap.push($(this).attr('id'));
                }
            });
            initialize();
        });

        $('.map-search input').on('change', function(e){
            var filtrationTermStr = $(e.target).val().toLowerCase();
            if(filtrationTermStr.length>3){
                filtrationTerm = filtrationTermStr;
                initialize();
            }
        });

        //поп-ап опасных материалов
        $('.hazardous-sign').on("click", function(){
            var start = Number(jQuery(this).attr('data-index'));
            var data = [
                { src: '#class1' },
                { src: '#class2' },
                { src: '#class3' },
                { src: '#class4' },
                { src: '#class5' },
                { src: '#class6' },
                { src: '#class7' },
                { src: '#class8' },
                { src: '#class9' }
            ];
            $.magnificPopup.open({
                items: data,
                type: 'inline',
                gallery: {
                    enabled: true
                }
//     		  callbacks: {
//     			  open: function() {
                //позволяет скроллить окно под поп-апом
//     				  $('html').attr('style', function(i, style) {
//                           return style.replace(/overflow[^;]+;?/g, '');
//                       });
//                       $('.hazardous-materials-widget').append($.magnificPopup.instance.wrap);
//                   }
//               },
            }, start);
        });
    });
</script>





























