<div class="main-basis">
    <div class="main-basis-right main-basis-sign-in">
        <h1><?= $this->translate('Login'); ?></h1>

        <div class="sign-in-block">

            <div class="block-left sigh-in-block__element">
                <h2><?= $this->translate('Partner'); ?></h2>
                <p><?= $this->translate('Следите за своим заработком.'); ?></p>
                <a class="btn btn-lg" href="<?php echo $this->url('zfcuser/login-partner', [
                    'lang' => $this->lang()
                ]); ?>"><?= $this->translate('Войти как партнёр'); ?> <i class="arrow-animation">&rightarrow;</i></a>
            </div>

            <div class="block-right sigh-in-block__element">
                <h2><?= $this->translate('Клиент'); ?></h2>
                <p><?= $this->translate('Управляйте способами оплаты, просматривайте историю и многое другое.'); ?></p>
                <a href="<?php echo $this->url('zfcuser/login', ['lang' => $this->lang()]); ?>" class="btn btn-lg">
                    <?= $this->translate('Войти как клиент'); ?> <i class="arrow-animation">&rightarrow;</i>
                </a>
            </div>

        </div>

    </div>

</div>