
<p><?= $this->translate('You have received this email because you initiated to reset your password with us. To continue with the process, please click the link below:'); ?></p>

<a href="<?= $this->serverUrl($this->url('zfcuser/resetpassword', array(
    'lang' => $this->lang(), 
    'userId' => $this->record->getUserId(), 
    'token' => $this->record->getRequestKey()
    )
)); ?>">
    <?= $this->translate('Reset your password'); ?>
</a>
