.list-group .pull-right span{
    margin-left: 5px;
}

.document-item {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.document-name {
    display: table-cell;
    vertical-align: middle;
    width: 85%;
}

.document-approve {
    display: table-cell;
    vertical-align: middle;
}

.document-approve span{
    margin: 0 2.5px;
}

.document-approve {}

.companies-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.document-confirm:hover,
.transport-type-confirm:hover {
    cursor: pointer;
}

.list-group-item > span.fa.fa-lg {
    width: 25px;
}

h4 {
    margin-bottom: 10px;
}