<?php echo $this->doctype(); ?>

<html lang="<?= $this->lang() ?>">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1"/>
    <?php echo $this->headTitle('ACEX')->setSeparator(' - ')->setAutoEscape(false) ?>
    
    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?php echo $this->headLink([
        'rel'  => 'shortcut icon',
        'type' => 'image/vnd.microsoft.icon',
        'href' => $this->basePath() . '/img/favicon.ico',
    ])
        ->prependStylesheet($this->basePath('css/become-partner.css'))
        ->prependStylesheet($this->basePath('../assets/css/all.css'))
        ->prependStylesheet($this->basePath('css/main.css'))
        ->prependStylesheet($this->basePath('css/jquery-ui.min.css'))
        ->prependStylesheet($this->basePath('css/style.css'))

        ->headlink([
            'rel'  => 'stylesheet',
            'type' => 'text/css',
            'href' => 'https://fonts.googleapis.com/css?family=Open+Sans:400,800,600',
        ]);
    ?>


    <!-- Scripts -->
    <?php //fix localization
    if ($this->lang() != 'en') {
        $this->headScript()->prependFile($this->basePath('js/validate/localization/messages_' . $this->lang()
            . '.min.js'));
    }
    ?>
    
    <?php echo $this->headScript()
        ->prependFile($this->basePath('js/jquery.min.js'))
        ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', ['conditional' => 'lt IE 9',])
        ->prependFile($this->basePath('js/html5shiv.min.js'), 'text/javascript', ['conditional' => 'lt IE 9',]); ?>
</head>
<body>

<div class="wrapper-partner">

    <div class="banner-partner">
        <div class="clearfix banner-partner__bg">
            <?php echo $this->content; ?>
        </div>
    </div>

    <footer class="footer-partner">

        <div class="footer-partner-info">

            <div class="footer-partner-info__content">© ACEX 2017</div>
            <div class="footer-partner-info__content"><a href="#">Конфиденциальность</a></div>

        </div>
        
    </footer>
    
</div>


<?php echo $this->inlineScript() ?>
</body>
</html>
