
<h1>Test</h1>
<?php
//echo date("Y-m-d",1495030730076/1000);//1495030730076
?>
<div id="form">

</div>

<script>
    $(function() {
        onForm(0);
    });
    
    function onForm(flag) {
        var name = $('input[name="name"]').val();

        $.post('<?= $this->url('json/test', ['lang' => $this->lang()]); ?>',
            {name:name,flag:flag},
            function (data) {
                var obj = JSON.parse(JSON.stringify(data));
                var html = "<form "
                    +"metod='"+obj.form.metod+"' "
                    +"action='"+obj.form.action+"' "
                    +">";
                var input = obj.input[0];
                html += "<input name='"+input.name+"' "
                    +"type='"+input.type+"' "
                    +"value='"+((name === undefined)? input.value : name)+"' "
                    +">";
                var input = obj.input[1];
                html += "<input name='"+input.name+"' "
                    +"type='"+"button"+"' "
                    +"value='"+input.value+"' "
                    +"onclick='onForm(1);' "
                    +">";



                html += "</form>";
                $("#form").html(html);
                console.log( obj );
            }
        );
    }
</script>
