<div class="col-md-12">
    <h2><?= $data['title'] ?></h2>

</div>


<div class="col-md-12">
    <?php
    if (isset($data['service']['form'])) {
        $form = $data['service']['form'];
        $form->prepare();

        if ($form) {
            echo $this->form()->openTag($form);
            ?>
            <?= $this->formElementErrors($form->get('name')); ?>
            <?= $this->formElementErrors($form->get('service')); ?>
            <?php
            echo $this->formLabel($form->get('service')) . " " . $this->formElement($form->get('service')) . "<br/>";
            echo $this->formLabel($form->get('name')) . " " . $this->formElement($form->get('name')) . "<br/>";
            echo $this->formElement($form->get('edit'));

            ?>

            <?php
            echo $this->form()->closeTag();
        }
    }
    ?>
</div>


