<div class="col-md-12">
    <h2><?= $data['title'] ?></h2>
    <h3><?= $data['dateTitle']?></h3>
</div>


    <?php foreach ($data['image'] as $key => $image){ ?>
<div class="col-md-12">
    <h4><?=$key?></h4>
        <?php  foreach ($image as $value){ ?>
            <?php if(strpos($value['image'],"Screenshot") === 0){?>

                <div class="col-md-6">
                    <a href="<?=$data['src']?>/<?=$value['image']?>" target="_blank">
                    <img class="img-rounded" src="<?=$data['src']?>/200_<?=$value['image']?>"/>
                    <?= $value['image']?>
                    </a>
                </div>

            <?php } ?>
        <?php } ?>
</div>
    <?php }?>
