<div class="col-md-12">
    <h2><?= $data['title'] ?></h2>

</div>

<div class="col-md-4">

    <ul id="tab" class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Redmine</a></li>
        <li><a href="#profile" data-toggle="tab">Bitrix</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <h3>Redmine</h3>
            <?php
            if (isset($data['service']['form'])) {
                $form = $data['service']['form'];
                $form->prepare();

                if ($form) {
                    echo $this->form()->openTag($form);
                    ?>
                    <?= $this->formElementErrors($form->get('login')); ?>
                    <?= $this->formElementErrors($form->get('password')); ?>
                    <?= $this->formElementErrors($form->get('url')); ?>
                    <?php
                    echo $this->formLabel($form->get('url')) . " " . $this->formElement($form->get('url')) . "<br/>";
                    echo $this->formLabel($form->get('login')) . " " . $this->formElement($form->get('login')) . "<br/>";
                    echo $this->formLabel($form->get('password')) . " " . $this->formElement($form->get('password')) . "<br/>";
                    echo "<input type='hidden' name='connect' value='redmine'>";
                    echo $this->formElement($form->get('connect-redmine'));

                    ?>

                    <?php
                    echo $this->form()->closeTag();
                }
            }
            ?>

            <?php if (isset($data['service']['redmine']) && $data['service']['redmine']) { ?>
                <div onclick="getEmail();" class="btn btn-success">Загрузить пользователей</div>
            <?php } ?>

        </div>
        <div class="tab-pane fade " id="profile">
            <h3>Bitrix</h3>
            <input type="hidden" name="connect" value="bitrix">
        </div>
    </div>
</div>

<script>
    $('#tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>

<div class="col-md-8">
    <div class="col-md-6">
        <h4>Email (загрузили)</h4>
        <div id="list-email"></div>
    </div>
    <div class="col-md-6">
        <h4>Email (все)</h4>
        <div id="list-email-all">
        <?php if($data['email']['all']){
            foreach ($data['email']['all'] as $email){ ?>
        <p><?=$email['email']?> / <?=$email['userId']?>
            <?php if($email['active']){?>
             / <a target="_blank" href='<?=$this->url("service-room/image",['hash'=>$data['hash'],'emailId'=>$email['email']."_".$email['userId'],'dateImage'=>date("Y-m-d")])?>'>
                    <span class='glyphicon glyphicon-picture'></span>
                </a>
            <?php } ?>
        </p>
        <?php }}?>
        </div>
    </div>
</div>
<script>
    function getEmail() {


        $.post('<?= $this->url('json/get_email', ['lang' => $this->lang()]); ?>',
            {hash: '<?=$data['hash']?>'},
            function (data) {
                var obj = JSON.parse(JSON.stringify(data));
                var email = obj.email;
                $("#list-email").text("");
                if (email.length > 0) {
                    email.forEach(function (value, key, email) {
                        $("#list-email").append("<p style='color:"+(value['import']?'#398439':'#cccccc')+"'>" + value['email'] + "</p>");
                    });
                }
                var all = obj.all;
                $("#list-email-all").text("");
                if (all.length > 0) {
                    all.forEach(function (value, key, all) {


                        $("#list-email-all").append("<p>" + value['email'] +" / "+value['userId']+ (value['active']? " / <a target='_blank' href='"+value['url']+"'><span class='glyphicon glyphicon-picture'></span></a>":"") +"</p>");
                    });
                }

                //console.log( data );
            }
        );
    }
</script>