<div class="content reset-password">
	<h3 class="page-title">
		<?php echo sprintf($this->translate('Change Password for %s'), $this->escapeHtml($this->email)); ?>
	</h3>
	<?php
	$form = $this->resetForm;
	
	$form->prepare();
	$form->setAttribute('action', $this->url('zfcuser/resetpassword', array('lang' => $this->lang(), 'userId' => $this->userId, 'token' => $this->token)));
	$form->setAttribute('method', 'post');
	$form->setAttribute('class', 'auth-form');
	
	echo $this->form()->openTag($form);
	?>

	<div class="elements-group">
		<?php
			$newCredential = $form->get('newCredential');
			$newCredential->setAttribute('class', 'form-element');
			$newCredential->setAttribute('placeholder', $this->translate('Enter new password'));
			$newCredential->setLabel('');
			echo $this->formRow($newCredential);
		?>
		<?php
			$newCredentialVerify = $form->get('newCredentialVerify');
			$newCredentialVerify->setAttribute('class', 'form-element');
			$newCredentialVerify->setAttribute('placeholder', $this->translate('Confirm new password'));
			$newCredentialVerify->setLabel('');
			echo $this->formRow($newCredentialVerify);
		?>
	</div>
	<div class="elements-group">
		<?php $submit = $form->get('submit');
		$submit->setAttribute('class', 'submit-btn');
		echo $this->formRow($submit); ?>
	</div>
	
				<?php echo $this->form()->closeTag(); ?>
			</div>