<div class="content">
	<h1 class="page-title">Acex24</h1>
	<h3 class="enter-title">
		<span class="text">
			<?php echo $this->translate('Forgot your password?'); ?>
		</span>
	</h3>
	<p><?php echo sprintf($this->translate('A reminder has been sent to your e-mail address %s.'), $this->escapeHtml($this->email)); ?></p>
	<a href="<?php echo $this->url('zfcuser/login', ['lang' => $this->lang()]) ?>"><?php echo $this->translate('Back to login'); ?></a>
</div>